<footer class="footer bg-white pt-0">
    <div class="container">

        <ul class="flex-container space-between">
            <li class="flex-item">
                <h5 class="head">Quick Links</h5>
                <div class="mt-3 content">
                    <div class="mt-2"><a class="text-decoration-none text-dark" href="/software-service">Product &
                            Services</a></div>
                    <div class="mt-2"><a class="text-decoration-none text-dark text-decoration-none text-dark"
                            href="/about">About Blockchain</a></div>
                    <div class="mt-2"><a class="text-decoration-none text-dark" href="/news-updates">News & Blogs</a>
                    </div>
                    <div class="mt-2"><a pageScroll href="/home?awards" target="_self"
                            class="text-decoration-none text-dark">Awards & Recognitions</a></div>
                    <div class="mt-2"><a class="text-decoration-none text-dark"
                            href="https://www.behance.net/blockchainmind" target="_blank">Portfolio</a></div>
                </div>
            </li>
            <li class="flex-item">
                <h5 class="head">Services</h5>
                <div class="mt-3 content">
                    <div class="mt-2"><a class="text-decoration-none text-dark">Crypto Hardware Wallet Solutions</a>
                    </div>
                    <div class="mt-2"><a class="text-decoration-none text-dark">Cryptocurrency Exchange</a></div>
                    <div class="mt-2"><a class="text-decoration-none text-dark" href="/defi-clone">DeFi App
                            Development</a></div>
                    <div class="mt-2"><a class="text-decoration-none text-dark">Initial Coin Offering Solutions</a>
                    </div>
                    <div class="mt-2"><a class="text-decoration-none text-dark">Custom Blockchain Developments​</a>
                    </div>
                </div>
            </li>
            <li class="flex-item">
                <h5 class="head">Company</h5>
                <div class="mt-3 content">
                    <div class="mt-2"><a class="text-decoration-none text-dark" href="/contact">Contact Us</a></div>
                    <div class="mt-2"><a class="text-decoration-none text-dark">Privacy Policy</a></div>
                    <div class="mt-2"><a class="text-decoration-none text-dark">Terms and conditions</a></div>
                    <div class="mt-2"><a class="text-decoration-none text-dark" href="/investor-relations">Investor
                            relation</a></div>
                </div>
            </li>
            <li class="flex-item">
                <h5 class="head">Contact</h5>
                <div class="mt-3 content">
                    <div class="mt-2">info@blockchainmind.com</div>
                    <!-- <div class="mt-2">careers@blockchainmind.com</div> -->
                    <div class="mt-2">+18005578226</div>
                </div>
            </li>
        </ul>
        <hr class="text-secondary">

        <div class="rowItem website">
            <div class="col-5 col-md-3" style="margin-top: 2px;">
                <div class="mt-2 copyright" >Copyright © 2021, Blockchainmind</div>
            </div>
            <div style="margin-top: 4px;">

                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-3">
                        <a href="https://www.facebook.com/blockchainmind"><i class="bi-facebook fs-3 icons"
                                style="color: #9292A5;"></i></a>
                    </li>
                    <li class="list-inline-item me-3">
                        <a href="https://twitter.com/blockchainmind"><i class="bi-twitter fs-3 icons"
                                style="color: #9292A5;"></i></a>
                    </li>
                    <li class="list-inline-item me-3">
                        <a href="https://ca.linkedin.com/company/blockchain-mind"><i class="bi-linkedin fs-3 icons"
                                style="color: #9292A5;"></i></a>
                    </li>
                    <li class="list-inline-item me-3">
                        <a href="https://www.instagram.com/blockchainmind/"><i class="bi-instagram fs-3 icons"
                                style="color: #9292A5;"></i></a>
                    </li>
                    <!-- <li class="list-inline-item">
                        <a href=""><i class="bi-youtube fs-3"></i></a>
                    </li> -->
                </ul>
            </div>
        </div>

        <div class="mobile bottom">

            <div style="margin-top: 4px;">
              <p>Follow us on</p>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-3">
                        <a href="https://www.facebook.com/blockchainmind"><i class="bi-facebook fs-3 icons"
                                style="color: #9292A5;"></i></a>
                    </li>
                    <li class="list-inline-item me-3">
                        <a href="https://twitter.com/blockchainmind"><i class="bi-twitter fs-3 icons"
                                style="color: #9292A5;"></i></a>
                    </li>
                    <li class="list-inline-item me-3">
                        <a href="https://ca.linkedin.com/company/blockchain-mind"><i class="bi-linkedin fs-3 icons"
                                style="color: #9292A5;"></i></a>
                    </li>
                    <li class="list-inline-item me-3">
                        <a href="https://www.instagram.com/blockchainmind/"><i class="bi-instagram fs-3 icons"
                                style="color: #9292A5;"></i></a>
                    </li>
                    <!-- <li class="list-inline-item">
                        <a href=""><i class="bi-youtube fs-3"></i></a>
                    </li> -->
                </ul>
            </div>
            <hr class="text-secondary">
            <div >
                <p class="mt-3 copyright1" >Copyright © 2021, Blockchainmind</p>
            </div>
        </div>
    </div>
</footer>
