<header class="masthead">
    <div class="container position-relative">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row justify-content-left">
                        <div class="col-xl-6">
                            <div class="text-white">
                                <div class="row">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 order-lg-1">
                                        <div class="bg-line"></div>
                                    </div>
                                    <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 order-lg-1">
                                    </div>
                                </div>
                                <label class="text-secondary letter-space mt-1 text-header">BLOCKCHAINMIND</label>
                                <h1 class="mb-5 text-content text-dark">one-stop shop for any development using <span
                                        class="text-primary">blockchain</span> technology.</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row justify-content-left">
                        <div class="col-xl-6">
                            <div class="text-white">
                                <div class="row">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 order-lg-1">
                                        <div class="bg-line"></div>
                                    </div>
                                    <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 order-lg-1">
                                    </div>
                                </div>
                                <label class="text-secondary letter-space mt-1 text-header">BLOCKCHAINMIND</label>
                                <h1 class="mb-5 text-content text-dark">one-stop shop for any development using <span
                                        class="text-primary">blockchain</span> technology.</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row justify-content-left">
                        <div class="col-xl-6">
                            <div class="text-white">
                                <div class="row">
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 order-lg-1">
                                        <div class="bg-line"></div>
                                    </div>
                                    <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 order-lg-1">
                                    </div>
                                </div>
                                <label class="text-secondary letter-space mt-1 text-header">BLOCKCHAINMIND</label>
                                <h1 class="mb-5 text-content text-dark">one-stop shop for any development using <span
                                        class="text-primary">blockchain</span> technology.</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <!-- <div class="col-lg-6 text-white showcase-img-intro intro-bg introImage">
              <img src="/assets/images/home/introduction/We-are-Toronto.jpg" style="width: 100%;height: 100%;"/>
            </div> -->
            <div class="col-lg-6 text-white showcase-img">
              <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="w-100 portfolio-img" src="/assets/images/home/introduction/clubes.jpeg">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 showcase-text intro-section-bg"
                style="align-items: center;display: flex;">
                <div style="align-items: center;
                justify-content: center;">
                    <div class="bg-line"></div>

                    <label class="introduction" style="color: #797888; font-weight: 600;">INTRODUCTION</label>
                    <h2 class="text-content mt-3 intro-title">We are Toronto based<br />Blockchain geniuses
                    </h2>
                    <p class="lead mb-0 mt-4 text-header introDesc">We are a Toronto based Blockchain consulting firm
                        which provides
                        security and infrastructure solutions for Cryptocurrencies as well as Distributed Ledger
                        Technologies for individuals and companies.</p>
                        <div class="expor-btn">
                    <a type="button" class="btn bg-btn mt-5 exploreButton" href="/about">EXPLORE MORE</a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row g-0 bg-white">
            <div class="col-lg-4 home-section-one-offset1">
                <div class="row">
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 order-lg-1">
                        <div class="bg-line mt-3"></div>
                    </div>
                    <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 order-lg-1">
                    </div>
                </div>
                <label class="introduction">OUR SERVICES</label>
                <h2 class="text-content mt-3 intro-title" style="font-size: 40px;">Blockchain is the <br />next big thing</h2>
                <p class="lead mb-0  mt-4 text-header introDesc">Blockchain is a distributed digital ledger in which
                    transactions are
                    recorded chronologically and publicly. It’s an immutable, meddle-proof record whose authenticity is
                    verified by an entire community rather than some middleman—and its potential is nearly limitless.
                </p>
                <div class="expor-btn">
                <a type="button" class="btn bg-btn mt-5 exploreButton" href="/software-service">EXPLORE SERVICES</a>
                </div>
            </div>
            <div class="col-lg-8 home-section-one-offset2">
                <div class="row">
                    <div id="sectionCard1" class="section-card col-lg-4 p-0 mb bg-transparent"
                        onmouseover="setArrowOnHover('sectionCard1')" onmouseleave="removeArrowOnHover('sectionCard1')">
                        <a href="/service/crypto-hardware-wallet-solutions" target="_blank" style="color:#000">
                        <div class="features-icons-item mx-auto p-4">
                            <img src="assets/images/home/ourservices/Component8.svg" alt="" width="50" height="50"
                                class="d-inline-block align-text-top">
                            <h5 class="mt-3 text-content serviceTitle">Crypto Hardware Wallet Solutions</h5>
                            <h6 class="text-secondary text-header serviceDesc">Fire and waterproof hardware Next
                                generation wallet to store multiple cryptocurrencies</h6>
                        </div>
                        <div id="cardArrow" class="align-right img-arrow-none adjust-service-arrow">
                            <img src="assets/images/explore.svg" alt="" class="d-inline-block align-text-top">
                        </div>
                        </a>
                    </div>
                    <div id="sectionCard2" class="section-card col-lg-4 p-0 mb bg-transparent"
                        onmouseover="setArrowOnHover('sectionCard2')" onmouseleave="removeArrowOnHover('sectionCard2')">
                        <a href="/service/initial-coin-offering-solutions" target="_blank" style="color:#000">
                        <div class="features-icons-item mx-auto p-4">
                            <img src="assets/images/home/ourservices/Component9.svg" alt="" width="50" height="50"
                                class="d-inline-block align-text-top">
                            <h5 class="mt-3 text-content serviceTitle">Initial Coin Offering Solutions</h5>
                            <h6 class="text-secondary text-header serviceDesc">ICO Expert-as-a-Service for startups and
                                investors for tokenize Business</h6>
                        </div>
                        <div id="cardArrow" class="align-right img-arrow-none adjust-service-arrow">
                            <img src="assets/images/explore.svg" alt="" class="d-inline-block align-text-top">
                        </div>
                        </a>
                    </div>
                    <div id="sectionCard3" class="section-card col-lg-4 p-0 mb bg-transparent"
                        onmouseover="setArrowOnHover('sectionCard3')" onmouseleave="removeArrowOnHover('sectionCard3')">
                        <a href="/service/smart-contract-solutions-deployment" target="_blank" style="color:#000">
                        <div class="features-icons-item mx-auto p-4">
                            <img src="assets/images/home/ourservices/Component10.svg" alt="" width="50" height="50"
                                class="d-inline-block align-text-top">
                            <h5 class="mt-3 text-content serviceTitle">Smart contract solutions/deployment and NFT’s
                            </h5>
                            <h6 class="text-secondary text-header serviceDesc">Smart contract and NFT solutions on
                                Ethereum, Tron, Binance Smart Chain, Matic Network , PolkaDot and Solana </h6>
                        </div>
                        <div id="cardArrow" class="align-right img-arrow-none adjust-service-arrow">
                            <img src="assets/images/explore.svg" alt="" class="d-inline-block align-text-top">
                        </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div id="sectionCard4" class="section-card col-lg-4 p-0 mb bg-transparent"
                        onmouseover="setArrowOnHover('sectionCard4')" onmouseleave="removeArrowOnHover('sectionCard4')">
                        <a href="/service/graphic-design" target="_blank" style="color:#000">
                        <div class="features-icons-item mx-auto p-4">
                            <img src="assets/images/home/ourservices/Component11.svg" alt="" width="50" height="50"
                                class="d-inline-block align-text-top">
                            <h5 class="mt-3 text-content serviceTitle">Web, Logo and Graphics Design </h5>
                            <h6 class="text-secondary text-header serviceDesc">One stop solution for all kind of design
                                and Graphical works
                            </h6>
                        </div>
                        <div id="cardArrow" class="align-right img-arrow-none adjust-service-arrow">
                            <img src="assets/images/explore.svg" alt="" class="d-inline-block align-text-top">
                        </div>
                        </a>
                    </div>
                    <div id="sectionCard5" class="section-card col-lg-4 p-0 mb bg-transparent"
                        onmouseover="setArrowOnHover('sectionCard5')" onmouseleave="removeArrowOnHover('sectionCard5')">
                        <a href="/service/cloud-infrastructure-" target="_blank" style="color:#000">
                        <div class="features-icons-item mx-auto p-4">
                            <img src="assets/images/home/ourservices/Component12.svg" alt="" width="50" height="50"
                                class="d-inline-block align-text-top">
                            <h5 class="mt-3 text-content serviceTitle">Cloud and Infrastructure Solutions</h5>
                            <h6 class="text-secondary text-header serviceDesc">We are certified experts to setup cloud
                                infrastructure on Amazon, Microsoft Windows Azure </h6>
                        </div>
                        <div id="cardArrow" class="align-right img-arrow-none adjust-service-arrow">
                            <img src="assets/images/explore.svg" alt="" class="d-inline-block align-text-top">
                        </div>
                        </a>
                    </div>
                    <div id="sectionCard6" class="section-card col-lg-4 p-0 mb bg-transparent"
                        onmouseover="setArrowOnHover('sectionCard6')" onmouseleave="removeArrowOnHover('sectionCard6')">
                        <a href="/service/digital-marketing-strategies" target="_blank" style="color:#000">
                        <div class="features-icons-item mx-auto p-4">
                            <img src="assets/images/home/ourservices/Component13.svg" alt="" width="50" height="50"
                                class="d-inline-block align-text-top">
                            <h5 class="mt-3 text-content serviceTitle">Digital Marketing Strategies </h5>
                            <h6 class="text-secondary text-header serviceDesc">We are an end-to-end provider of digital
                                marketing services.
                            </h6>
                        </div>
                        <div id="cardArrow" class="align-right img-arrow-none adjust-service-arrow">
                            <img src="assets/images/explore.svg" alt="" class="d-inline-block align-text-top">
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="showcase bg-180-gradient">
  <div class="container-fluid p-0">
    <div class="row g-0">
      <div class="col-lg-2 order-lg-1 my-auto bg-grad-show">
        <div class="row">
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1">
                <div class="bg-grad-left mt-3"></div>
            </div>
            <div class="col-lg-8 order-lg-1"></div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 order-lg-1">
                <div class="bg-grad-left mt-5"></div>
            </div>
            <div class="col-lg-6 order-lg-1"></div>
        </div>
        <div class="row">
            <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 order-lg-1">
                <div class="bg-grad-left mt-5"></div>
            </div>
            <div class="col-lg-2 order-lg-1"></div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 order-lg-1">
                <div class="bg-grad-left mt-5"></div>
            </div>
            <div class="col-lg-6 order-lg-1"></div>
        </div>
        <div class="row">
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1">
                <div class="bg-grad-left mt-5"></div>
            </div>
            <div class="col-lg-8 order-lg-1"></div>
        </div>
      </div>
      <div class="col-lg-8 order-lg-1 my-auto showcase-text tech">
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-3 order-lg-1"></div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-3 order-lg-1"></div>
        <div class=" pt-3 text-center" style="align-items: center">

          <div style="align-items: center">
              <label class="text-white introduction bg-line" ></label>
          </div>
          <label class="text-white introduction">TECHNOLOGIES WE USE</label>


          <h2 class="text-white mt-3 text-content">50% tech skills, 50% people skills.</h2>
          <h6 class="text-white text-header mt-3">We use only proven and reliable solutions
              To ensure a high level of security and performance we use the latest technology and take
              great
              care to update systems and platforms used by our customers
          </h6>
          <div class="expor-btn">
          <a  pageScroll href="/software-service#techs">
              <button type="button" class="btn btn-flat mt-4 border border-white text-white exploreButton">EXPLORE
                  MORE</button>
          </a>
          </div>

        </div>
      </div>
      <div class="col-lg-2 order-lg-1 my-auto bg-grad-show">
        <div class="row">
            <div class="col-lg-6 order-lg-1"></div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 order-lg-1">
                <div class="bg-grad-right mt-3"></div>
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 order-lg-1">
                <div class="bg-grad-right mt-3"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 order-lg-1"></div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 order-lg-1">
                <div class="bg-grad-right mt-5"></div>
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 order-lg-1">
                <div class="bg-grad-right mt-5"></div>
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 order-lg-1">
                <div class="bg-grad-right mt-5"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 order-lg-1">
                <div class="bg-grad-right mt-5"></div>
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 order-lg-1">
                <div class="bg-grad-right mt-5"></div>
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 order-lg-1">
                <div class="bg-grad-right mt-5"></div>
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 order-lg-1">
                <div class="bg-grad-right mt-5"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 order-lg-1"></div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 order-lg-1">
                <div class="bg-grad-right mt-5"></div>
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 order-lg-1">
                <div class="bg-grad-right mt-5"></div>
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 order-lg-1">
                <div class="bg-grad-right mt-5"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 order-lg-1"></div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 order-lg-1">
                <div class="bg-grad-right mt-5"></div>
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 order-lg-1">
                <div class="bg-grad-right mt-5"></div>
            </div>
        </div>
    </div>
    </div>
  </div>
</section>

<section class="showcase m-0 home-section-four">
    <div class="container p-0">
        <div class="row g-0">
            <!-- <div class="col-lg-1 order-lg-1"></div> -->
            <div class="col-lg-12 order-lg-1 my-auto showcase-text client">
                <div class="text-center">
                    <div class="row">
                        <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1">
                        </div>

                        <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1">
                        </div>

                    </div>
                    <div style="align-items: center">
                      <label class="text-white introduction bg-line" ></label>
                    </div>
                    <label class=" letter-space mt-1 text-content">OUR CLIENTS</label>
                    <h2 class="mt-2 text-content">Bonds built with trust and loyalty</h2>
                    <h6 class="text-header mt-3">We have a privilege of working with some fantastic clients
                    </h6>
                </div>
                <div class="row">
                    <div class="col-md-4 mt-3" *ngFor="let client of ourClients">

                        <img class="logoImage2" [src]="sanitizeUrl('https://api.blockchainmind.com/upload/'+client.logo)"
                            alt="{{client.title}}">

                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-1 order-lg-1"></div> -->
        </div>
    </div>
</section>
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img">
                <div id="portfolioSlider" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#portfolioSlider" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#portfolioSlider" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#portfolioSlider" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item portfolio active">
                            <img class="w-100 portfolio-img" src="assets/images/home/ourportfolio/slide-1.jpg">
                            <div class="desc">
                              <h1 class="title">Bitcoin to the moon</h1>
                              <p class="text">The crypto exchange recently announced plans to deposit a physical wallet containing a single bitcoin on the surface of
                              the moon.</p>
                            </div>
                        </div>
                        <div class="carousel-item portfolio">
                            <img class="w-100 portfolio-img" src="assets/images/home/ourportfolio/slide-2.jpg">
                            <div class="desc">
                              <h1 class="title">Bitcoin to the moon</h1>
                              <p class="text">The crypto exchange recently announced plans to deposit a physical wallet containing a single bitcoin
                                on the surface of
                                the moon.</p>
                            </div>
                        </div>
                        <div class="carousel-item portfolio">
                            <img class="w-100 portfolio-img" src="assets/images/home/ourportfolio/slide-3.jpg">
                            <div class="desc">
                              <h1 class="title">Bitcoin to the moon</h1>
                              <p class="text">The crypto exchange recently announced plans to deposit a physical wallet containing a single bitcoin
                                on the surface of
                                the moon.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 showcase-text section-bg-white our-portfo">
                <div class="row">
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 order-lg-1">
                        <div class="bg-line mt-3"></div>
                    </div>
                    <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 order-lg-1">
                    </div>
                </div>
                <label class="mt-1 letter-space text-content">OUR PORTFOLIO</label>
                <h2 class="mt-2 text-content">Curation of works that speak our legacy</h2>
                <h6 class="text-header mt-3">Explore our Creative designs/graphic works
                </h6>
                <div class="expor-btn">
                <a type="button" class="btn bg-btn mt-5 exploreButton" href="https://www.behance.net/blockchainmind"
                    target="_blank">EXPLORE PORTFOLIO</a>
                    </div>
            </div>
        </div>
    </div>
</section>
<section class="showcase home-section-six">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-12 order-lg-1 my-auto showcase-text">
                <div class="row">
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1">
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1">
                        <div class="row">
                            <div class="col-md-4"></div>

                            <div class="col-md-4"></div>
                        </div>
                    </div>
                    <div class="ccol-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1">
                    </div>
                </div>
                <div class="text-center">
                  <div style="align-items: center">
                    <label class="text-white introduction bg-line what-do-head" ></label>
                  </div>
                    <label class="mt-1 letter-space text-content">WHAT WE DO</label>
                    <h2 class="mt-2 text-content">Our Services</h2>
                </div>
                <div class="row mt-3" *ngIf="ourservices?.length != 0" id="ourServiceDynamic">
                    <a *ngFor="let service of ourservices let i=index;" style="margin: 4px;"
                        class="section-card col-lg-4 p-0 mb mt-3 bg-transparent text-secondary"
                        onmouseover="setArrowOnHover($(this).attr('id'))"
                        onmouseleave="removeArrowOnHover($(this).attr('id'))" id="section-service-card-{{i}}"
                        href="/service/{{service.key}}">
                        <div class="features-icons-item mx-auto p-4">
                            <div class="row">
                                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 order-lg-1">
                                    <div class="testimonial-item mx-auto mt-1 mb-lg-0 text-end">
                                        <img class="logoImage" *ngIf="service.logo[0]?.mimetype == 'image/svg+xml'"
                                            [src]="sanitizeUrl('https://api.blockchainmind.com/upload/'+service.logo[0].filename)"
                                            alt="..." />
                                        <!-- <div class="imageContainer" *ngFor="let file of service.logo">
                                              <img class="logoImage" *ngIf="service.logo?.length > 1 && file.mimetype == 'image/svg+xml'" src="{{baseUrl}}upload/{{file.filename}}" alt="..." />
                                            </div>   -->
                                    </div>
                                </div>
                                <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 order-lg-1 service-title">
                                    <div class="text-start text-header p-1"><b>
                                            {{service.title}}
                                        </b></div>
                                </div>
                            </div>
                        </div>
                        <div id="cardArrow" class="align-right img-arrow-none adjust-service-arrow">
                            <img src="assets/images/explore.svg" alt="" class="d-inline-block align-text-top">
                        </div>
                    </a>
                </div>
                <div class="row mt-5" *ngIf="ourservices?.length == 0">
                    <h3 class="text-center text-primary"><b>No services available</b></h3>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="showcase home-section-seven">
    <div id="awards"></div>
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-12 order-lg-1 my-auto showcase-text">
                <div class="row">
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1">
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                    <div class="ccol-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1">
                    </div>
                </div>

                <div class="text-center">
                  <div style="align-items: center">
                    <label class="text-white introduction bg-line what-do-head" ></label>
                  </div>
                    <label class="mt-1 letter-space text-content">OUR ACHIEVEMENT</label>
                    <h2 class="mt-2 text-content">Awards and Recognitions</h2>
                    <!-- <h6 class="text-header">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                        eirmod tempor invidunt ut labore et dolore magna</h6> -->
                </div>

                <div class="slider mt-5">
                    <!-- <div class="slider__wrapper">
                        <div class="slider__item" *ngFor="let award of awards">


                        </div>
                    </div> -->
                    <ul id="awardrecognition" class="owl-carousel">
                      <li *ngFor="let award of awards" class="awd">
                        <a [href]="getAwardLink(award.link)" target="_blank">

                        <img class="award-img" [src]="sanitizeUrl('https://api.blockchainmind.com/upload/'+award.logo)">

                      </a>
                    </li>

                    </ul>
                    <div class="row mt-5">
                        <div class="col-2 col-sm-2 col-md-3 col-lg-4 col-xl-4"></div>
                        <div class="col-8 col-sm-8 col-md-6 col-lg-4 col-xl-4">
                            <div class="row">
                                <div class="col-2 col-md-3 owl-nav" style="text-align: center;">
                                    <div class="bi bi-arrow-left arrow-bg  slider__control_left"
                                        role="button"></div>


                                </div>
                                <div class="col-8 col-md-6">
                                    <div class="carousel-bg"></div>
                                </div>
                                <div class="col-2 col-md-3 owl-nav" style="text-align: center;">
                                    <div class="bi bi-arrow-right arrow-bg slider__control_right "
                                        role="button"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 col-sm-2 col-md-3 col-lg-4 col-xl-4"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-6 text-white  showcase-img  our-team-offset1"></div>
            <div class="col-lg-6 showcase-text our-team-bg">
                <div class="row">
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 order-lg-1">
                        <div class="bg-line mt-3"></div>
                    </div>
                    <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 order-lg-1">
                    </div>
                </div>
                <label class="text-secondary letter-space mt-1 text-content">OUR TEAM</label>
                <h2 class="mt-2 text-content">A happy Blockchain journey starts with us.</h2>
                <p class="lead mb-0 text-header mt-3">Blockchainmind is lovingly built and maintained by these fine folks</p>
                <div class="expor-btn">
                <a type="button" href="/our-team" class="btn bg-btn mt-5 exploreButton">MEET OUR TEAM</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials-->
<section class="testimonials text-center bg-light testimonials-bg">
    <div class="container">
        <div class="row">
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1">
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1">
                <div class="row">
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1"></div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1"></div>
                </div>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1">
            </div>
        </div>
        <div style="align-items: center">
          <label class="text-white introduction bg-line" ></label>
        </div>
        <label class="text-secondary letter-space mt-1 text-content">TESTIMONIALS</label>
        <h2 class="mb-5 mt-2 text-content">What our client say!</h2>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div id="carouselTestimonial" class="owl-carousel carouselTestimonial">
                    <div>
                        <img class="rounded-circle" src="assets/images/home/testimonials/darryl.jpg" alt="..." />
                    </div>
                    <!-- <div>
                        <img class="rounded-circle" src="assets/images/home/testimonials/testimonials-2.jpg" alt="..." />
                    </div>
                    <div>
                        <img class="rounded-circle" src="assets/images/home/testimonials/testimonials-3.jpg" alt="..." />
                    </div>
                    <div>
                        <img class="rounded-circle" src="assets/images/home/testimonials/darryl.jpg" alt="..." />
                    </div> -->
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 px-5">
                        <div class="testimonial-text review-0">

                            <p class="lead mb-0 text-header review-text">
                                When I contacted Aryan Nava and his team at BLOCKCHAIN MIND to help to refine
                                and develop a music app I had no idea the family that I was about to inherit.
                                BCM took my idea and gave vision and clarity to it. They advised me in a
                                fidicious and honest manner and worked miracles to bring the worlds first
                                Fairtrade music app to life. Their expertise in defi app development, custom
                                blockchain development and ICO solutions was by far the best. If you are looking
                                for an incubator or partner to help you build your dream app BLOCKCHAIN MIND is
                                your best bet.
                            </p>
                            <div>
                                <div class="bottom-div">
                                    <div class="left">
                                        <img class="reviewer-icon" src="assets/images/home/testimonials/beatifylogo.png"/>
                                    </div>
                                    <div class="right">
                                        <p class="mb-0"><b>Darryl</b></p>
                                        <p class="mb-0">Beatify</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- <div class="testimonial-text review-1">
                            <p class="lead mb-0 text-header review-text">
                                When I contacted Aryan Nava and his team at BLOCKCHAIN MIND to help to refine
                                and develop a music app I had no idea the family that I was about to inherit.
                                BCM took my idea and gave vision and clarity to it. They advised me in a
                                fidicious and honest manner and worked miracles to bring the worlds first
                                Fairtrade music app to life. Their expertise in defi app development, custom
                                blockchain development and ICO solutions was by far the best. If you are looking
                                for an incubator or partner to help you build your dream app BLOCKCHAIN MIND is
                                your best bet.
                            </p>
                            <div>
                                <div class="bottom-div">
                                    <div class="left">
                                        <img class="reviewer-icon" src="assets/images/logo.svg"/>
                                    </div>
                                    <div class="right">
                                        <p class="mb-0"><b>Darryl</b></p>
                                        <p class="mb-0">Coinshark - Australia</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="testimonial-text review-2">
                            <p class="lead mb-0 text-header review-text">
                                When I contacted Aryan Nava and his team at BLOCKCHAIN MIND to help to refine
                                and develop a music app I had no idea the family that I was about to inherit.
                                BCM took my idea and gave vision and clarity to it. They advised me in a
                                fidicious and honest manner and worked miracles to bring the worlds first
                                Fairtrade music app to life. Their expertise in defi app development, custom
                                blockchain development and ICO solutions was by far the best. If you are looking
                                for an incubator or partner to help you build your dream app BLOCKCHAIN MIND is
                                your best bet.
                            </p>
                            <div>
                                <div class="bottom-div">
                                    <div class="left">
                                        <img class="reviewer-icon" src="assets/images/logo.svg"/>
                                    </div>
                                    <div class="right">
                                        <p class="mb-0"><b>Darryl</b></p>
                                        <p class="mb-0">Coinshark - Australia</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="testimonial-text review-3">
                            <p class="lead mb-0 text-header review-text">
                                When I contacted Aryan Nava and his team at BLOCKCHAIN MIND to help to refine
                                and develop a music app I had no idea the family that I was about to inherit.
                                BCM took my idea and gave vision and clarity to it. They advised me in a
                                fidicious and honest manner and worked miracles to bring the worlds first
                                Fairtrade music app to life. Their expertise in defi app development, custom
                                blockchain development and ICO solutions was by far the best. If you are looking
                                for an incubator or partner to help you build your dream app BLOCKCHAIN MIND is
                                your best bet.
                            </p>
                            <div>
                                <div class="bottom-div">
                                    <div class="left">
                                        <img class="reviewer-icon" src="assets/images/logo.svg"/>
                                    </div>
                                    <div class="right">
                                        <p class="mb-0"><b>Darryl</b></p>
                                        <p class="mb-0">Coinshark - Australia</p>
                                    </div>

                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <!-- <div id="carouselTestimonialControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                                <img class="img-fluid rounded-circle mb-3 tstm-img-md"
                                    src="assets/images/home/testimonials/darryl.jpg" alt="..." />
                            </div>
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10 px-5">
                                    <p class="mb-0"><b>Darryl</b></p>
                                    <p class="lead mb-0 text-header review-text">
                                        When I contacted Aryan Nava and his team at BLOCKCHAIN MIND to help to refine
                                        and develop a music app I had no idea the family that I was about to inherit.
                                        BCM took my idea and gave vision and clarity to it. They advised me in a
                                        fidicious and honest manner and worked miracles to bring the worlds first
                                        Fairtrade music app to life. Their expertise in defi app development, custom
                                        blockchain development and ICO solutions was by far the best. If you are looking
                                        for an incubator or partner to help you build your dream app BLOCKCHAIN MIND is
                                        your best bet.
                                    </p>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                </div> -->

            </div>
            <div class="col-md-2"></div>
        </div>

        <!--             <div class="row mt-5">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1">
                            <div class="testimonial-item mx-auto mb-5 mb-lg-0 text-end">
                                <img class="img-fluid rounded-circle mb-3 tstm-img-xs" src="assets/images/home/testimonials/testimonials-1.jpg" alt="..." />
                            </div>
                        </div>
                        <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 order-lg-1">
                            <h5 class="text-start"><b>Laurel Jordan</b></h5>
                            <div class="text-start">Coinshark - Australia</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4"></div>
            </div> -->
    </div>
</section>
<section class="text-center home-section-eleven">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-lg-1 order-lg-1"></div>
            <div class="col-lg-10 order-lg-1 my-auto showcase-text">
                <div class="p-5 text-center">
                    <div class="row">
                        <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1">
                        </div>

                        <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1">
                        </div>
                    </div>
                    <div style="align-items: center">
                      <label class="text-white introduction bg-line" ></label>
                    </div>
                    <label class=" letter-space mt-1 text-content">LATEST ARTICLES</label>
                    <h2 class="mt-2 text-content">Freshly featured reads to explore</h2>
                </div>

                <div class="row mb-5">
                    <div *ngFor="let article of newsBlogs let i = index" id="sectionCard_Art{{i}}"
                        class="section-card col-md-4 p-3" onmouseover="setArrowOnHover($(this).attr('id'))"
                        onmouseleave="removeArrowOnHover($(this).attr('id'))">

                        <a class="card text-dark" href="/news-updates/{{article?.key}}">
                            <img class="card-img-top img-height" *ngIf="article.file?.length != 0"
                                [src]="sanitizeUrl('https://api.blockchainmind.com/upload/'+article.file[0].filename)"
                                alt="Blog Image" />
                            <img class="card-img-top img-height" *ngIf="article.file?.length == 0"
                                src="assets/images/No_Image_Available.jpg" alt="Image need to be upload" />
                            <div class="card-body">
                                <h6 class="card-title text-left text-content line-header-truncate">{{article.title}}
                                </h6>
                                <div class="description">
                                    <p class="card-text text-header line-content-truncate mt-3">
                                        {{removeTags(article.description)}}</p>
                                </div>

                                <hr class="text-secondary">
                            </div>
                            <div class="row">
                                <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 order-lg-1">
                                    <div class="row">
                                        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1">
                                            <div class="testimonial-item mx-auto mb-5 mb-lg-0 text-end">
                                                <img class="img-fluid rounded-circle mb-3 tstm-img-xs"
                                                    src="assets/images/home/testimonials/admin.jpeg"
                                                    alt="..." />
                                            </div>
                                        </div>
                                        <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 order-lg-1">
                                            <div class="text-start text-header"><b>ADMIN</b></div>
                                            <div class="text-start text-header">BCM</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1">
                                    <div id="cardArrow" class="align-right img-arrow-none">
                                        <img src="assets/images/explore.svg" alt=""
                                            class="d-inline-block align-text-top img-arrow-none">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>


            </div>
            <div class="col-lg-1 order-lg-1"></div>
            <!-- </div> -->
        </div>
    </div>
</section>
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-6 showcase-text text-white contact-bg"
                style="align-items: center;display: flex;">
                <div style="align-items: center;
                    justify-content: center;">
                    <div class="bg-line mt-3"></div>


                    <label class="text-white letter-space mt-1 text-content">CONTACT US</label>
                    <h4 class="mt-2 text-content">Are you looking for blockchain solutions?</h4>
                    <h6 class="lead mb-0 text-header contact">Let’s get the conversation started , Tell us a bit about
                        yourself
                    </h6>
                </div>
            </div>
            <div class="col-lg-6 showcase-text bg-light contact-form-bg">
                <h4 class="text-content">Leave us a message</h4>
                <label class="text-header">And we will get bact to you soon.</label>
                <form>
                    <div class="mt-4 mb-3 input">
                        <input type="text" #name (keyup)="onKey($event,1)" class="form-control" id="name"
                            placeholder="FULL NAME">
                    </div>
                    <p class="error" [class.errorShow]="fullNameError != ''" [class.errorHide]="fullNameError == ''">
                        {{fullNameError}}</p>
                    <div class="mt-4 mb-3 input">
                        <input type="phone" #phone (keyup)="onKey($event,2)" class="form-control" id="password"
                            placeholder="PHONE">
                    </div>
                    <p class="error" [class.errorShow]="phoneError != ''" [class.errorHide]="phoneError == ''">
                        {{phoneError}}</p>
                    <div class="mt-4 mb-3 input">
                        <input type="email" #email (keyup)="onKey($event,3)" class="form-control" id="email"
                            placeholder="EMAIL">
                    </div>
                    <p class="error" [class.errorShow]="emailError != ''" [class.errorHide]="emailError == ''">
                        {{emailError}}</p>
                    <div class="mt-4 mb-3 input">
                        <input type="text" #subject (keyup)="onKey($event,4)" class="form-control" id="subject"
                            placeholder="SUBJECT">
                    </div>
                    <p class="error" [class.errorShow]="subjectError != ''" [class.errorHide]="subjectError == ''">
                        {{subjectError}}</p>
                    <div class="mt-4 mb-3 input">
                        <textarea class="form-control" #message (keyup)="onKey($event,5)" id="message"
                            placeholder="MESSAGE"></textarea>
                    </div>
                    <p class="error" [class.errorShow]="messageError != ''" [class.errorHide]="messageError == ''"
                        [class.messageSucess]="messageError == 'Mail Send Successfully.'">{{messageError}}</p>
                    <div class="row mt-5">
                        <div class="col-4 col-md-4"></div>
                        <div>
                            <button [disabled]="load" (click)="onClicForm()" style="width:100% !important" type="submit"
                                class="col-md-12 btn bg-btn btn-block buttonDis">SUBMIT NOW</button>
                        </div>
                        <div class="col-4 col-md-4"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
