<section class="showcase bg-white pb-3 pt-5 page-bg-white">
  <div class="container">
    <div class="row mt-5"></div>
    <div class="row">
      <div class="col-md-6 investor-relation-bg"></div>
      <div class="col-md-6 investor-relation-flow-bg"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1">
          <div class="row">
            <div class="col-8 col-sm-8 col-md-3 col-lg-3 col-xl-3">
                <div class="bg-line"></div> 
            </div>
            <div class="col-2 col-sm-2 col-md-5 col-lg-5 col-xl-5"></div>
          </div>
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1">
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1"></div>
      </div>
      <h2 class="mt-3 text-primary">ABOUT US</h2>
      <h4 class="text-secondary text-header mt-4">Founded three years ago, Blockchain mind is the leading blockchain startup in Toronto.</h4>
      <h4 class="text-secondary text-header mt-4">Our portfolio includes <span class="text-primary">Crypto Exchange CoinShark and CDAX (Web and App for IOS/Android) Gold and Silver Investing App (iOS and Android) and 2.5% stake in Beatify Audio.</span></h4>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5">
      <div class="row">
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1">
          <div class="row">
            <div class="col-8 col-sm-8 col-md-3 col-lg-3 col-xl-3">
                <div class="bg-line"></div> 
            </div>
            <div class="col-2 col-sm-2 col-md-5 col-lg-5 col-xl-5"></div>
          </div>
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1">
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1"></div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <h2 class="mt-3 text-primary">REVENUE</h2>
        </div>
        <div class="row">
          <img class="investor-investor-proceed-bg" src="assets/images/investor-relations/BCM revenue-05.png">
        </div>
        <!-- <div class="col-12 col-md-6 investor-revenue-bg"></div> -->
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5">
      <div class="row">
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1">
          <div class="row">
            <div class="col-8 col-sm-8 col-md-3 col-lg-3 col-xl-3">
                <div class="bg-line"></div> 
            </div>
            <div class="col-2 col-sm-2 col-md-5 col-lg-5 col-xl-5"></div>
          </div>
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1">
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1"></div>
      </div>
      <h2 class="mt-3 text-primary">TOKEN</h2>
      <div class="row">
        <div class="col-md-3">
          <h3 class="p-5 mt-5">Token Distribution Total of : 100,000,000</h3>
        </div>
        <div class="col-md-6 investor-chart-bg"></div>
        <div class="col-md-3">
           <h3 class="mt-5">INVESTORS: <span class="text-primary">50%</span></h3>
           <h3 class="mt-5">FOUNDERS: <span class="text-primary">50%</span></h3>
           <h3 class="mt-5">DISTRIBUTED TO STAKEHOLDERS</h3>
           <h3 class="mt-5">TEAM ADVISORY BOUNTY: <span class="text-primary">25 %</span></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5">
      <div class="row">
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1">
          <div class="row">
            <div class="col-8 col-sm-8 col-md-3 col-lg-3 col-xl-3">
                <div class="bg-line"></div> 
            </div>
            <div class="col-2 col-sm-2 col-md-5 col-lg-5 col-xl-5"></div>
          </div>
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1">
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1"></div>
      </div>
      <h2 class="mt-3 text-primary">USE OF PROCEEDS</h2>
      <div class="row">
          <img class="investor-investor-proceed-bg" src="assets/images/investor-relations/proceeds-07.png">
          <div class="btn bg-launch text-white btn-block m-2"><h4>LAUNCH OF COINSHARK, CDAX AND GOLD/SILVER INVESTING PLATFORM</h4></div>
          <div class="btn bg-marketing text-white btn-block m-2"><h4>MARKETING AND COMMUNICATION</h4></div>
          <div class="btn bg-legal text-white btn-block m-2"><h4>OPERATING, LEGAL AND ADMINISTRATIVE</h4></div>
          <div class="btn bg-invested text-white btn-block m-2"><h4>INVESTED IN ETH/DOT/LINK/BTC</h4></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5">
      <div class="row">
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1">
          <div class="row">
            <div class="col-8 col-sm-8 col-md-3 col-lg-3 col-xl-3">
                <div class="bg-line"></div> 
            </div>
            <div class="col-2 col-sm-2 col-md-5 col-lg-5 col-xl-5"></div>
          </div>
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1">
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1"></div>
      </div>
      <h2 class="mt-3 text-primary">WHY BCM TOKEN?</h2>
      <div class="row">
        <ol>
          <h4 class="m-5"><li>BCM Token holders get rewarded with CoinShark and Beatify Audio tokens when it launched</li></h4>
          <h5 class="text-primary m-5">Example: 1000 BCM Holder = Get 100 CoinShark and 100 Beatify Audio Token</h5>
          <h4 class="m-5"><li>BCM Product and services will be offered in exchange of BCM Tokens.</li></h4>
          <h4 class="m-5"><li>BlockchainMind will buy back BCM tokens at market price yearly and burn the token to reduce supply. This will help increase the value of BCM Token.</li></h4>
        </ol>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5">
      <div class="row">
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1">
          <div class="row">
            <div class="col-8 col-sm-8 col-md-3 col-lg-3 col-xl-3">
                <div class="bg-line"></div> 
            </div>
            <div class="col-2 col-sm-2 col-md-5 col-lg-5 col-xl-5"></div>
          </div>
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1">
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1"></div>
      </div>
      <h2 class="mt-3 text-primary">TOKEN LISTING</h2>
      <div class="row mt-3">
        <h4>Uniswap, AAVE, CoinShark</h4>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5">
      <div class="row">
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1">
          <div class="row">
            <div class="col-8 col-sm-8 col-md-3 col-lg-3 col-xl-3">
                <div class="bg-line"></div> 
            </div>
            <div class="col-2 col-sm-2 col-md-5 col-lg-5 col-xl-5"></div>
          </div>
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1">
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1"></div>
      </div>
      <h2 class="mt-3 text-primary">IN NEWS</h2>
      <div class="row mt-3">
        <h4>UpCity, GoodFirms, CrunchBase, DailyHive, Df.Media</h4>
      </div>
    </div>
  </div>
</section>
