
<section class="showcase bg-white pb-3 pt-5 page-bg-white">
  <div class="container">
  	<div class="row mt-5"></div>
  	<div class="row">
  		<div class="col-md-4"></div>
  		<div class="col-md-4 text-center">
  			 <img src="assets/images/uniswap-clone/email 1.png" alt="..." class="">
  		</div>
  		<div class="col-md-4"></div>
  	</div>
  	
	<div class="shadow p-3 mb-5 bg-body rounded mt-5">
		<div class="row">
			<div class="row mt-3">
		        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1"></div>
		        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1">
		        	<div class="row">
		        		<div class="col-2 col-sm-2 col-md-5 col-lg-5 col-xl-5"></div>
		        		<div class="col-8 col-sm-8 col-md-3 col-lg-3 col-xl-3">
		          			<div class="bg-line"></div>	
		        		</div>
		        		<div class="col-2 col-sm-2 col-md-5 col-lg-5 col-xl-5"></div>
		        	</div>
		        </div>
		        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1"></div>
		    </div>
				<h4 class="text-center mt-3">CONNECT WITH US</h4>
	  		<div class="col-md-6">
	  			<div class="card border-0">
		          <div class="row g-0">
		            <div class="col-md-3 text-center p-4">
		              <img src="assets/images/uniswap-clone/phone1.png" alt="">
		            </div>
		            <div class="col-md-9">
		              <div class="card-body">
		                <h5 class="card-title mt-3">416-705-3572</h5> 
		              </div>
		            </div>
		          </div>
		        </div>
		        <div class="card border-0">
		          <div class="row g-0">
		            <div class="col-md-3 text-center p-4">
		              <img src="assets/images/uniswap-clone/eee_edited.png" alt="">
		            </div>
		            <div class="col-md-9">
		              <div class="card-body">
		                <h5 class="card-title mt-3">dev@blockchainmind.com</h5>	          
		              </div>
		            </div>
		          </div>
		        </div>
		        <div class="card border-0">
		          <div class="row g-0">
		            <div class="col-md-3 text-center p-4">
		              <img src="assets/images/uniswap-clone/address.png" alt="">
		            </div>
		            <div class="col-md-9">
		              <div class="card-body">
		                <h5 class="card-title mt-3">Canada</h5>
		                <span class="card-text">48th Floor,1 King St W, Toronto, ON M5H 1A1</span>
		              </div>
		            </div>
		          </div>
		        </div>
		        <div class="card border-0">
		          <div class="row g-0">
		            <div class="col-md-3 text-center p-4">
		              <img src="assets/images/uniswap-clone/address.png" alt="">
		            </div>
		            <div class="col-md-9">
		              <div class="card-body">
		                <h5 class="card-title mt-3">Australia</h5>
		                <span class="card-text">L5, 14 Railway Parade,Burwood NSW- 2134 Phone: 1300 65 11 53info@iwebsystems.com.au</span>
		              </div>
		            </div>
		          </div>
		        </div>
	  		</div>
	  		<div class="col-md-6">
	            <form >
	                <div class="mt-4 mb-3">
	                    <div class="row">
	                    	<div class="col-md-6">
	                    		<input type="text" class="form-control" id="firstname"placeholder="FIRST NAME">
	                    	</div>
	                    	<div class="col-md-6">
	                    		<input type="text" class="form-control" id="lastname"placeholder="LAST NAME">
	                    	</div>
	                    </div>
	                </div>
	                <div class="mt-4 mb-3">
	                	<div class="row">
	                    	<div class="col-md-6">
	                    		<input type="email" class="form-control" id="email" pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" required placeholder="EMAIL">
	                    	</div>
	                    	<div class="col-md-6">
	                    		<input type="text" class="form-control" id="phone" placeholder="PHONE">
	                    	</div>
	                    </div>
	                </div>
	                <div class="mt-4 mb-3">
	                    <input type="text" class="form-control" id="address" placeholder="ADDRESS">
	                </div>
	                <div class="mt-4 mb-3">
	                    <textarea class="form-control" id="message" placeholder="MESSAGE"></textarea>
	                </div>
	                <div class="text-center">
	                	<button type="submit" class="btn bg-btn btn-block mt-5">SUBMIT</button>	
	                </div>
	            </form>
	  		</div>
			</div>
		</div>
  	</div>
	<hr class="text-secondary mt-5">
</section>
