<header class="defi-clone-header">
   <div class="container position-relative">
    <div class="row mt-5 mob-hidden"></div>
      <div class="row justify-content-left mt-5 mab-margin">
        <div class="col-xl-6">
          <div class="text-white">
              <h1 class="mt-3 text-header">DeFi Clone Script</h1>
              <h5 class="mb-5 text-content">Harness the best of DeFi based DEX protocol with our Uniswap clone. Swap ETH with ERC-20, No KYC: NO AML. Just pure Crypto Trading Delight!.</h5>
              <div class="btn-center">
                <a class="btn bg-btn whatsapp-btn" routerLink="/contact">REQUEST PROPOSAL</a>
              </div>

          </div>
        </div>
    </div>
   </div>
</header>
<section class="showcase bg-white pb-3 pt-5 page-bg-white">
  <div class="container">
    <div class="row">
        <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 order-lg-1">
          <div class="bg-line"></div>
        </div>
        <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
    </div>
    <h2 class="mt-3 text-center text-primary">Uniswap Clone Script</h2>
    <h2 class="mt-3 text-center">Launch A DeFi Based Decentralized Exchange Platform Like Uniswap</h2>
    <p class="mt-5 card-text text-justify">The mysterious world of finance is yet again bewitched by a peculiar abbreviation - DEX. But this time, the abbreviation is intended to chuck out the inefficiencies of the conventional financial system. DeFi or Decentralized Finance has taken the fiscal sphere by storm, providing seamless financial operations mounted on the brilliance of blockchain technology. Directed by smart contracts, DEX platforms like Uniswap mandate massive profitability, providing a win-win situation for both users and entrepreneurs.</p>
    <p class="mt-5 card-text text-justify">At Blockchain Mind, we proffer you with a swap and liquidity pool smart contracts-powered Uniswap clone that runs on the robust Ethereum blockchain. Armed with the ability to support margin trading and spot trading for more than 100 cryptocurrencies including the widely deployed ERC 20 tokens and ETH. The Uniswap clone competently executes trades based on the ultra-effective Automated Market Making (AMM), enabling users to seamlessly swap their cryptos by connecting the web 3 wallets such as Coinbase wallet, WalletConnect, Formatic, MetaMask, etc. Highly recommended!</p>
    <div class="row mt-5">
      <div class="col-12 col-sm-12 col-md-12 m-12 text-center whatsapp-btn-div">
        <a class="btn bg-btn col-md-12 whatsapp-btn" href="https://api.whatsapp.com/send?l=en&text=Hi!%20I%27m%20interested%20in%20one%20of%20your%20products%20at%20BCM&phone=+14167053572" target="_blank">Connect with Whatsapp</a>
      </div>

    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
        <div class="row">
          <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 order-lg-1">
            <div class="bg-line"></div>
          </div>
          <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 order-lg-1"></div>
        </div>
        <h2 class="mt-3">What Is Uniswap Clone Script? <br>DeFi Based DEX Platform</h2>
        <div class="mt-5 text-justify">Uniswap clone is Blockchainmind premier decentralized protocol based software that’s built on the ever-reliant Ethereum blockchain, culminating in terrific liquidity. The DeFi exchange protocol like Uniswap facilitates effortless token swaps by creating liquidity in the crypto trading market. As the entire spectrum of cryptocurrency swapping of ETH/ ERC 20 tokens is automated, the presence of middlemen or third parties is virtually eliminated.</div>
    </div>
    <div class="row mt-5">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <img src="assets/images/defi-clone/What Is Uniswap Clone Script.jpg" alt="..." class="w-100">
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
        <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 order-lg-1">
            <div class="bg-line"></div>
        </div>
         <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
        <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
    </div>
    <h2 class="mt-3 text-primary">Key Features</h2>
    <h2 class="mt-3">Of Ethereum Based DeFi Exchange Like Uniswap</h2>
    <div class="row mt-5">
      <div class="col-lg-6">
        <div class="card border-0">
          <div class="row g-0">
            <div class="col-md-3 mob-center">
              <img src="assets/images/defi-clone/uniswap clone-07.png" alt="">
            </div>
            <div class="col-md-9">
              <div class="card-body">
                <h5 class="card-title">Flash Swapping</h5>
                <span class="card-text">Our DEX exchange platform expedites multi-step transactions in the form of Flash swapping, allowing users to withdraw ERC 20 token reserves.</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card border-0">
          <div class="row g-0">
            <div class="col-md-3 mob-center">
              <img src="assets/images/defi-clone/2-07.png" alt="">
            </div>
            <div class="col-md-9">
              <div class="card-body">
                <h5 class="card-title">Lower Transaction Fees</h5>
                <span class="card-text">Adopting the financially efficient ‘Maker-Taker’ fee model, the clone script charges an affordable 0.3% on both the sides for every transaction occurring through the platform.</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card border-0">
          <div class="row g-0">
            <div class="col-md-3 mob-center">
              <img src="assets/images/defi-clone/3-07.png" alt="">
            </div>
            <div class="col-md-9">
              <div class="card-body">
                <h5 class="card-title">Anonymous Trading</h5>
                <span class="card-text">With gregarious verification protocols like KYC and AML not being mandatory, non-traceable trading becomes a possibility. Alternatively, the public wallet address will fulfil the identification requirements.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card border-0">
          <div class="row g-0">
            <div class="col-md-3 mob-center">
              <img src="assets/images/defi-clone/4-07.png" alt="">
            </div>
            <div class="col-md-9">
              <div class="card-body">
                <h5 class="card-title">Highly Secure</h5>
                <span class="card-text">Being mounted over the astute Ethereum blockchain, the swap solution is diligently audited and provides an ultra-secure platform for trading. A completely non-custodial solution!</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card border-0">
          <div class="row g-0">
            <div class="col-md-3 mob-center">
              <img src="assets/images/defi-clone/5-07.png" alt="">
            </div>
            <div class="col-md-9">
              <div class="card-body">
                <h5 class="card-title">Own Custody</h5>
                <span class="card-text">Our Uniswap clone’s users are enabled to store their private keys, making them the own custodian of their tokens/ assets and exchange them directly with high liquidity pools.</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card border-0">
          <div class="row g-0">
            <div class="col-md-3 mob-center">
              <img src="assets/images/defi-clone/uniswap clone-07.png" alt="">
            </div>
            <div class="col-md-9">
              <div class="card-body">
                <h5 class="card-title">Token Versatility</h5>
                <span class="card-text">The accessibility of new tokens facilitates instant trading functionality. Not to mention the capabilities to create own tokens, pair any ERC 20 token with ETH for creating liquidity pools.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-6 mt-5">
        <h4 class="mt-5 text-center">DeFi Based DEX Platforms Are The New Superstars In The Global Finance Ecosystem.</h4>
        <div class="mt-5 text-center">Seize your claim straight away with our Uniswap clone.</div>
        <div class="row text-center">
          <div class="col-md-3"></div>
          <div class="col-md-6">
             <a class="btn bg-btn mt-5 mb-5 text-center" routerLink="/contact">Get Uniswap Clone</a>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
      <div class="col-lg-6 showcase-img defi-platform-bg"></div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-3 col-sm-3 col-md-2 col-lg-2 col-xl-2 order-lg-1">
          <div class="bg-line"></div>
      </div>
       <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
      <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
    </div>
    <h2 class="mt-3">How Does Our DeFi Exchange Platform Like Uniswap Work?</h2>
    <div class="row mt-5">
      <div class="section-card col-lg-4 p-0 mb">
        <div class="features-icons-item mx-auto p-4">
            <div class="row">
              <div class="col-2 col-md-2"></div>
              <div class="col-8 col-md-8 mob-center">
                <img src="assets/images/defi-clone/1-07.png" alt="" class="d-inline-block align-text-top">
              </div>
              <div class="col-2 col-md-2"></div>
            </div>
            <div class="text-secondary text-header mt-4">Uniswap is devoid of any centralized authentication or order books. Instead, automatic liquidity is ensured by an open-source protocol.</div>
        </div>
      </div>
      <div class="section-card col-lg-4 p-0 mb">
        <div class="features-icons-item mx-auto p-4">
          <div class="row">
            <div class="col-2 col-md-2"></div>
            <div class="col-8 col-md-8 mob-center">
              <img src="assets/images/defi-clone/12-07.png" alt="" class="d-inline-block align-text-top">
            </div>
            <div class="col-2 col-md-2"></div>
          </div>
          <div class="text-secondary text-header mt-4">The automatic liquidity enables a trading option, assisting providers in creating liquidity pools and facilitating the swapping functionality.</div>
        </div>
      </div>
      <div class="section-card col-lg-4 p-0 mb">
        <div class="features-icons-item mx-auto p-4">
          <div class="row">
            <div class="col-2 col-md-2"></div>
            <div class="col-8 col-md-8 mob-center">
              <img src="assets/images/defi-clone/13-07.png" alt="" class="d-inline-block align-text-top">
            </div>
            <div class="col-2 col-md-2"></div>
          </div>
            <div class="text-secondary text-header mt-4">The absence of intermediaries expedites the exchange of ERC 20 token with ETH by the users of the DeFi platform seamlessly.</div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="section-card col-lg-4 p-0 mb">
        <div class="features-icons-item mx-auto p-4">
            <div class="row">
              <div class="col-2 col-md-2"></div>
              <div class="col-8 col-md-8 mob-center">
                <img src="assets/images/defi-clone/14-07.png" alt="" class="d-inline-block align-text-top">
              </div>
              <div class="col-2 col-md-2"></div>
            </div>
            <div class="text-secondary text-header mt-4">The price value is automatically set by the decentralized pricing mechanism system based on previous valuations.</div>
        </div>
      </div>
      <div class="section-card col-lg-4 p-0 mb">
        <div class="features-icons-item mx-auto p-4">
          <div class="row">
            <div class="col-2 col-md-2"></div>
            <div class="col-8 col-md-8 mob-center">
              <img src="assets/images/defi-clone/15-07.png" alt="" class="d-inline-block align-text-top">
            </div>
            <div class="col-2 col-md-2"></div>
          </div>
            <div class="text-secondary text-header mt-4">The protocol functions in an entirely decentralized manner eliminates the availability of liquidity pool for the traders. The token price is based on the market price rather than the token price set by the buyers/sellers.</div>
        </div>
      </div>
      <div class="section-card col-lg-4 p-0 mb">
        <div class="features-icons-item mx-auto p-4">
            <div class="row">
              <div class="col-2 col-md-2"></div>
              <div class="col-8 col-md-8 mob-center">
                <img src="assets/images/defi-clone/16-07.png" alt="" class="d-inline-block align-text-top">
              </div>
              <div class="col-2 col-md-2"></div>
            </div>
            <div class="text-secondary text-header mt-4">Participants are free to create their own token, offer it to the liquidity pool without the need for any authorization. This way, a prescribed percentage of the fee is offered from the trade to the contributor.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
        <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 order-lg-1">
            <div class="bg-line"></div>
        </div>
         <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
        <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
    </div>
    <h2 class="mt-3 text-primary">Business Benefits</h2>
    <h2 class="mt-3">Of Creating Own DeFi Based DEX Like Uniswap</h2>
    <div class="row mt-5">
      <div class="col-lg-6">
        <div class="card border-0">
          <div>
            <div class="mob-center">
              <img src="assets/images/defi-clone/21.png" alt="">
            </div>
            <div class="col-md-9 desc">
              <div class="card-body">
                <h5 class="card-title">Less Investment</h5>
                <span class="card-text">Ideating, creating and launching a DEX platform doesn’t always need to burn a hole in your pockets. Appdupe’s affordable solution is here for your business plans!</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card border-0">
          <div>
            <div class="mob-center">
              <img src="assets/images/defi-clone/2-08.png" alt="">
            </div>
            <div class="col-md-9 desc">
              <div class="card-body">
                <h5 class="card-title">Elimination Of Middlemen</h5>
                <span class="card-text">The implementation of decentralization at its totality paves the way for banishing the presence of third parties or middlemen, propelling the efficacy of the output.</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card border-0">
          <div>
            <div class="mob-center">
              <img src="assets/images/defi-clone/2-11.png" alt="">
            </div>
            <div class="col-md-9 desc">
              <div class="card-body">
                <h5 class="card-title">High ROI</h5>
                <span class="card-text">Generating a superior rate of return on investment is a defining feature of our Uniswap clone, made possible by a plethora of utilities such as staking, yield farming, and more.</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card border-0">
          <div>
            <div class="mob-center">
                <img src="assets/images/defi-clone/2-12.png" alt="">
              </div>
              <div class="col-md-9 desc">
                <div class="card-body">
                  <h5 class="card-title">Brand Identity</h5>
                  <span class="card-text">With the reach of DeFi getting deepened each day, launching an avant-garde DEX platform compiling the DeFi protocols in an immersive manner.</span>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-lg-6">
        <div class="card border-0">
          <div>
            <div class="mob-center">
              <img src="assets/images/defi-clone/23-07.png" alt="">
            </div>
            <div class="col-md-9 desc">
              <div class="card-body">
                <h5 class="card-title">Superb Liquidity</h5>
                <span class="card-text">The infusion of decentralized finance protocols dodges the risk associated with the DEX platform’s liquidity. Unlike other solutions, our liquidity problems for our Uniswap clone are non-existent!</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card border-0">
          <div>
            <div class="mob-center">
              <img src="assets/images/defi-clone/2-09.png" alt="">
            </div>
            <div class="col-md-9 desc">
              <div class="card-body">
                <h5 class="card-title">Expanding Trading Volume</h5>
                <span class="card-text">Amass a massive user base and subsequent trading volume within a matter of a few months. The presence of stunning liquidity features makes it a possibility!</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card border-0">
          <div>
            <div class="mob-center">
              <img src="assets/images/defi-clone/2-10.png" alt="">
            </div>
            <div class="col-md-9 desc" >
              <div class="card-body">
                <h5 class="card-title">Brand Identity</h5>
                <span class="card-text">With the reach of DeFi getting deepened each day, launching an avant-garde DEX platform compiling the DeFi protocols in an immersive manner.</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
        <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 order-lg-1">
            <div class="bg-line"></div>
        </div>
         <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
        <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
    </div>
    <h2 class="mt-3 text-primary">The Process</h2>
    <h2 class="mt-3">Of Creating An Own DeFi Based Protocol Like Uniswap</h2>
    <div class="row justify-content-center mt-5">
            <div class="col-xl-10 col-12">
                <div class="timeline timeline-line-solid">
                    <div class="timeline-item">
                        <div class="timeline-point timeline-point"></div>
                        <div class="timeline-event">
                            <div class="widget has-shadow">
                                <div class="widget-header d-flex align-items-center">
                                    <div class="d-flex flex-column mr-auto">
                                        <div class="title">
                                            <span class="username">STEP 1</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div>Users need to storm into the Uniswap clone interface.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-point timeline-point"></div>
                        <div class="timeline-event">
                            <div class="widget has-shadow">
                                <div class="widget-header d-flex align-items-center">
                                    <div class="d-flex flex-column mr-auto">
                                        <div class="title">
                                            <span class="username">STEP 2</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div>Any of the Ethereum-supported wallets such as MetaMask, Trust Wallet, etc., should be connected.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-point timeline-point"></div>
                        <div class="timeline-event">
                            <div class="widget has-shadow">
                                <div class="widget-header d-flex align-items-center">
                                    <div class="d-flex flex-column mr-auto">
                                        <div class="title">
                                            <span class="username">STEP 3</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div>The token that is intended to be exchanged should be selected.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-point timeline-point"></div>
                        <div class="timeline-event">
                            <div class="widget has-shadow">
                                <div class="widget-header d-flex align-items-center">
                                    <div class="d-flex flex-column mr-auto">
                                        <div class="title">
                                            <span class="username">STEP 4</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div>Select the token that has to be swapped for the previously selected token.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-point timeline-point"></div>
                        <div class="timeline-event">
                            <div class="widget has-shadow">
                                <div class="widget-header d-flex align-items-center">
                                    <div class="d-flex flex-column mr-auto">
                                        <div class="title">
                                            <span class="username">STEP 5</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div>Proceed to the swap option, and a preview of the transaction would be displayed.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-point timeline-point"></div>
                        <div class="timeline-event">
                            <div class="widget has-shadow">
                                <div class="widget-header d-flex align-items-center">
                                    <div class="d-flex flex-column mr-auto">
                                        <div class="title">
                                            <span class="username">STEP 6</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div>The transaction request in the wallet should be confirmed.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="text-secondary">
  </div>
  <div class="container mt-5">
    <div class="row g-0">
          <div class="col-lg-6 text-white defi-liquidity-bg"></div>
          <div class="col-lg-6 showcase-text mob-pad">
              <p class="lead mb-0 text-header">Create Your Own Liquidity Pool. Indulge In Crypto Staking. Amass A Fortune!</p>
              <div class="btn-center mt-3">
              <a class="btn bg-btn  whatsapp-btn" routerLink="/contact">Talk to our experts</a>
              </div>
          </div>
      </div>
  </div>
  <div class="container">
    <div class="row g-0">
          <div class="col-lg-6 p-3" style="padding-bottom: 1.325rem !important;">
            <div class="row">
                <div class="col-3 col-sm-3 col-md-2 col-lg-2 col-xl-2 order-lg-1">
                    <div class="bg-line mt-3"></div>
                </div>
                <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 order-lg-1">
                </div>
            </div>
            <h2 class="text-content" style="margin-top: 15px;">A Brief Explanation On Uniswap</h2>
            <p class="mb-0 text-header p-4">A Brief Explanation On Uniswap At its heart, Uniswap is an exchange protocol that smooths the path for swapping ERC 20 tokens to ETH tokens and vice versa on the Ethereum blockchain. Unlike conventional DeFi platforms, Uniswap harness liquidity pools, instead of order books. The wholesome elimination of the lack of liquidity enables Uniswap protocols to create their own liquidity as an alternative to relying on the needs of the buyer and the seller. Liquidity pools refer to enormous amounts of tokens that facilitate a trade to be performed in DEX platforms. Locked with smart contracts, the liquidity pools are unhackable inherently.</p>
          </div>
          <div class="col-lg-6 text-white defi-etherium-bg"></div>

      </div>
  </div>
  <div class="container mt-5">
    <div class="row">
        <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 order-lg-1">
            <div class="bg-line"></div>
        </div>
         <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
        <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
    </div>
    <h2 class="mt-3">Complete List Of Features</h2>
    <div class="row mt-5">
      <div class="section-card col-lg-4 p-0 mb">
        <div class="features-icons-item mx-auto p-4">
            <div class="row">
              <div class="col-2 col-md-2"></div>
              <div class="col-8 col-md-8 mob-center">
                <img src="assets/images/defi-clone/11-07.png" alt="" class="d-block align-text-top" style="margin: auto;">
              </div>
              <div class="col-2 col-md-2"></div>
            </div>
            <h5 class="mt-3 text-content text-center">Swapping</h5>
            <div class="text-secondary text-header mt-4 text-center">Our Uniswap clone doesn’t inflict any restrictions on the trade of any asset pair, and the routing technology aids users to trade ERC 20 tokens with any available trading pair, ingeniously accessing into the liquidity pools present in the platform.</div>
        </div>
      </div>
      <div class="section-card col-lg-4 p-0 mb">
        <div class="features-icons-item mx-auto p-4">
          <div class="row">
            <div class="col-2 col-md-2"></div>
            <div class="col-8 col-md-8 mob-center">
              <img src="assets/images/defi-clone/11-08.png" alt="" class="d-block align-text-top" style="margin: auto;">
            </div>
            <div class="col-2 col-md-2"></div>
          </div>
          <h5 class="mt-3 text-content text-center">Oracles</h5>
          <div class="text-secondary text-header mt-4 text-center">Immutability is spilled across the pricing data, and the presence of a decentralized medium to securely store external transactional data terminates the dependency on any centralized storage platform.</div>
        </div>
      </div>
      <div class="section-card col-lg-4 p-0 mb">
        <div class="features-icons-item mx-auto p-4">
          <div class="row">
            <div class="col-2 col-md-2"></div>
            <div class="col-8 col-md-8 mob-center">
              <img src="assets/images/defi-clone/11-09.png" alt="" class="d-block align-text-top"  style="margin: auto;">
            </div>
            <div class="col-2 col-md-2"></div>
          </div>
          <h5 class="text-content text-center mt-5">Flash Swapping</h5>
            <div class="text-secondary text-header mt-3 text-center">Executing arbitrary logic and withdrawing larger reserves of any of the ERC 20 tokens at no upfront cost can be actuated by the flash swapping functionality. A constraint-free multi-step transaction process is a promise!</div>
        </div>
      </div>
    </div>
     <div class="row mt-5">
      <div class="section-card col-lg-4 p-0 mb">
        <div class="features-icons-item mx-auto p-4">
            <div class="row">
              <div class="col-2 col-md-2"></div>
              <div class="col-8 col-md-8 mob-center">
                <img src="assets/images/defi-clone/11-10.png" alt="" class="d-block align-text-top"  style="margin: auto;">
              </div>
              <div class="col-2 col-md-2"></div>
            </div>
            <h5 class="mt-3 text-content text-center">ERC 20 Tokens Trading</h5>
            <div class="text-secondary text-header mt-4 text-center">The DeFi DEX Protocol Development like Uniswap empowers users to trade any of the Ethereum-based tokens, culminating in the creation of trading pairs of two ERC 20 tokens in a hassle-free manner.</div>
        </div>
      </div>
      <div class="section-card col-lg-4 p-0 mb">
        <div class="features-icons-item mx-auto p-4">
          <div class="row">
            <div class="col-2 col-md-2"></div>
            <div class="col-8 col-md-8 mob-center">
              <img src="assets/images/defi-clone/11-11.png" alt="" class="d-block align-text-top"  style="margin: auto;">
            </div>
            <div class="col-2 col-md-2"></div>
          </div>
          <h5 class="mt-3 text-content text-center">No Fund Custody</h5>
          <div class="text-secondary text-header mt-4 text-center">The deployment of smart contracts dictates the trading term, liberating the exchange from holding funds of the user. The truancy of central authentication doesn’t mandate KYC/ AML information/ verification.</div>
        </div>
      </div>
      <div class="section-card col-lg-4 p-0 mb">
        <div class="features-icons-item mx-auto p-4">
          <div class="row">
            <div class="col-2 col-md-2"></div>
            <div class="col-8 col-md-8 mob-center">
              <img src="assets/images/defi-clone/11-12.png" alt="" class="d-block align-text-top"  style="margin: auto;">
            </div>
            <div class="col-2 col-md-2"></div>
          </div>
          <h5 class="text-content text-center mt-5">Absence Of Order Book</h5>
            <div class="text-secondary text-header mt-3 text-center">A formula based on token ratios and not any centralized order books are used for price determination. This way, price manipulation is ably prevented, suffusing a dash of stability and reliability on the price of the assets.</div>
        </div>
      </div>
    </div>
     <div class="row mt-5">
      <div class="col-lg-4 p-0 mb"></div>
      <div class="section-card col-lg-4 p-0 mb">
        <div class="features-icons-item mx-auto p-4">
          <div class="row">
            <div class="col-2 col-md-2"></div>
            <div class="col-8 col-md-8 mob-center">
              <img src="assets/images/defi-clone/22-11.png" alt="" class="align-text-top" style="display: block; margin: auto;">
            </div>
            <div class="col-2 col-md-2"></div>
          </div>
          <h5 class="mt-3 text-content text-center">Competitive Pricing</h5>
          <div class="text-secondary text-header mt-4 text-center">An extensively affordable fee of 0.3% is charged on each transaction, leading to skyrocketing usage and trade margin. Platform admins can alter the percentage of trading fees at their convenience.</div>
        </div>
      </div>
      <div class="col-lg-4 p-0 mb"></div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
        <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 order-lg-1">
            <div class="bg-line"></div>
        </div>
         <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
        <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
    </div>
    <h2 class="mt-3">Exclusive Benefits Of Our Uniswap Clone</h2>
    <div class="row mt-5">
      <div class="col-lg-4 defi-package-bg">

      </div>
      <div class="col-lg-8 p-3">
        <div class="card border-0">
          <div class="row g-0">
            <div class="col-md-2 mob-center">
              <img src="assets/images/defi-clone/1 (2).png" alt="">
            </div>
            <div class="col-md-10">
              <div class="card-body">
                <h5 class="card-title">MANIPULATION PROOF</h5>
                <span class="card-text">The colossal decentralization of the platform makes it immune to any phishing attack, making the swapping process highly secure.</span>
              </div>
            </div>
          </div>
        </div>
         <div class="card border-0">
          <div class="row g-0">
            <div class="col-md-2 mob-center">
              <img src="assets/images/defi-clone/1 (3).png" alt="">
            </div>
            <div class="col-md-10">
              <div class="card-body">
                <h5 class="card-title">INSTANT SWAPS</h5>
                <p class="card-text">The flash swapping capacity accredits users to withdraw any amount of ERC 20 token in a seamless manner.</p>
              </div>
            </div>
          </div>
        </div>
         <div class="card border-0">
          <div class="row g-0">
            <div class="col-md-2 mob-center">
              <img src="assets/images/defi-clone/1 (4).png" alt="">
            </div>
            <div class="col-md-10">
              <div class="card-body">
                <h5 class="card-title">DIRECT POOLING</h5>
                <p class="card-text">Despite a user not affording other ERC 20 tokens, direct pooling of ERC 20 tokens is possible and can be availed on.</p>
              </div>
            </div>
          </div>
        </div>
         <div class="card border-0">
          <div class="row g-0">
            <div class="col-md-2 mob-center">
              <img src="assets/images/defi-clone/1 (5).png" alt="">
            </div>
            <div class="col-md-10">
              <div class="card-body">
                <h5 class="card-title">INGENIOUS COMPATIBILITY</h5>
                <p class="card-text">The Uniswap clone is astonishingly compatible with ERC-777, making it a complete DeFi DEX solution.</p>
              </div>
            </div>
          </div>
        </div>
         <div class="card border-0">
          <div class="row g-0">
            <div class="col-md-2 mob-center">
              <img src="assets/images/defi-clone/1 (1).png" alt="">
            </div>
            <div class="col-md-10">
              <div class="card-body">
                <h5 class="card-title">UNIQUE IMPROVEMENT</h5>
                <p class="card-text">Visible upgradations in the scalability index, UI, APK integrability and much more enhance the swapping experience.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row g-0 mt-5">
          <div class="col-lg-6">
            <div class="row">
                <div class="col-3 col-sm-3 col-md-2 col-lg-2 col-xl-2 order-lg-1">
                    <div class="bg-line mt-3"></div>
                </div>
                <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 order-lg-1">
                </div>
            </div>
            <h2 class="text-content">Production Of Tokens In Uniswap Clone</h2>
            <p class="mb-0 text-header p-3">The moment a user contributes an ethereum-based token like the ERC 20 tokens, they are added to the liquidity pools. An equal value is all that is needed to get an ERC 20/ ETH token when it is held on a pool. Once exchanged, the tokens are immediately destroyed. This streamlined process lets anyone create their own Uniswap protocol and offer their tokens to the pool. Get started with the development of your Uniswap clone right now for gigantic returns of profitability!</p>
          </div>
          <div class="col-lg-6 text-white defi-token-bg"></div>

      </div>
  </div>

  <div class="container mt-5">
    <div class="row g-0">
          <div class="col-lg-6 text-white defi-facility-bg"></div>
          <div class="col-lg-6 p-3">
            <div class="row">
                <div class="col-3 col-sm-3 col-md-2 col-lg-2 col-xl-2 order-lg-1">
                    <div class="bg-line mt-3"></div>
                </div>
                <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 order-lg-1">
                </div>
            </div>
            <h2 class="text-content">Our Uniswap Clone Facilitates Yield Farming</h2>
            <p class="mb-0 text-header">DeFi yield farming refers to the action of staking cryptocurrency assets on a more extensive and more prolonged scale in order to generate revenue. Users stake and release their cryptos for realizing superlative income, where a part of which is channelized to the platform. More the number of liquidity providers, more the stacking process! Billions are right around the corner!</p>
          </div>
      </div>
  </div>

  <div class="container mt-5">
    <div class="row g-0">
          <div class="col-lg-6 p-5">
              <p class="lead mb-0 text-header">Appdupe’s Uniswap Clone Propels Your Influence In The CryptoSphere.</p>
              <a class="btn bg-btn mt-5" routerLink="/uniswap-clone">Request Quotation</a>
          </div>
          <div class="col-lg-6 text-white defi-crypto-bg"></div>
      </div>
  </div>

  <div class="container mt-5">
    <div class="row g-0">
          <div class="col-lg-6 text-white defi-bitcoin-bg"></div>
          <div class="col-lg-6 ps-3">
            <div class="row">
                <div class="col-3 col-sm-3 col-md-2 col-lg-2 col-xl-2 order-lg-1">
                    <div class="bg-line mt-3"></div>
                </div>
                <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 order-lg-1">
                </div>
            </div>
            <h2 class="text-content">Our Uniswap Clone Development Process</h2>
            <p class="mb-0 text-header">The arrival of DeFi trading has caused an irresistible wave of changes across the entire financial sector, sending shockwaves of profitability and interoperability. Despite the increasing awareness, many firms aren’t able to live their DeFi dreams partly due to the mystic hype around the term and partly due to the scarce presence of superior talent, who could comprehend the requirements and develop an inefficiency-smacking DEX platform like Uniswap. We arm your solution with ingenuity from the very approach of development - a holistic view that ideates, wireframes, designs, develops and installs solutions with utmost precision and conviction. With Appdupe at your discretion, nothing can stop you from mastering the DeFi protocol to the maximal limit.</p>
          </div>
      </div>
  </div>
  <div class="container mt-5">
    <div class="row">
        <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 order-lg-1">
            <div class="bg-line"></div>
        </div>
         <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
        <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
    </div>
    <h2 class="mt-3">Why Should You Choose Our Uniswap Clone Script?</h2>
    <div class="row mt-5">
      <div class="section-card col-lg-4 p-0 mb">
        <div class="features-icons-item mx-auto p-4">
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4 mob-center">
                <img src="assets/images/defi-clone/1.png" alt="" class="d-inline-block align-text-top">
              </div>
              <div class="col-md-4"></div>
            </div>
            <h5 class="mt-3 text-content text-center">DeFi Expertise</h5>
            <div class="text-secondary text-header mt-4 text-center">Our experts have deduced the nitty-gritty of decentralized finance mechanism, being immersed in its scheme of things since its inception.</div>
        </div>
      </div>
      <div class="section-card col-lg-4 p-0 mb">
        <div class="features-icons-item mx-auto p-4">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 mob-center">
              <img src="assets/images/defi-clone/2.png" alt="" class="d-inline-block align-text-top">
            </div>
            <div class="col-md-4"></div>
          </div>
          <h5 class="mt-3 text-content text-center">On-Time Delivery</h5>
          <div class="text-secondary text-header mt-4 text-center">We blend the superlative degree of agility and sturdiness to make sure that the project is completed and delivered on or before the mutually agreed deadlines.</div>
        </div>
      </div>
      <div class="section-card col-lg-4 p-0 mb">
        <div class="features-icons-item mx-auto p-4">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 mob-center">
              <img src="assets/images/defi-clone/3.png" alt="" class="d-inline-block align-text-top">
            </div>
            <div class="col-md-4"></div>
          </div>
          <h5 class="text-content text-center mt-3">Top-Notch Quality</h5>
            <div class="text-secondary text-header mt-3 text-center">We communicate through quality and strive to maintain the status quo at all times. Tailoring stellar DeFi solutions to our customers’ needs is what we are known for.</div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-2 p-0 mb"></div>
      <div class="section-card col-lg-4 p-0 mb">
        <div class="features-icons-item mx-auto p-4">
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4 mob-center">
                <img src="assets/images/defi-clone/4.png" alt="" class="d-inline-block align-text-top">
              </div>
              <div class="col-md-4"></div>
            </div>
            <h5 class="mt-3 text-content text-center">Complete Testing</h5>
            <div class="text-secondary text-header mt-4 text-center">The Uniswap clone is subjected to some of the most stringent quality assurance techniques, eventually ensuring the non-existence of threats, bugs and glitches.</div>
        </div>
      </div>
      <div class="section-card col-lg-4 p-0 mb">
        <div class="features-icons-item mx-auto p-4">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 mob-center">
              <img src="assets/images/defi-clone/5.png" alt="" class="d-inline-block align-text-top">
            </div>
            <div class="col-md-4"></div>
          </div>
          <h5 class="mt-3 text-content text-center">100% Customization</h5>
          <div class="text-secondary text-header mt-4 text-center">The deployment of smart contracts dictates the trading term, liberating the exchange from holding funds of the user. The truancy of central authentication doesn’t mandate KYC/ AML information/ verification.</div>
        </div>
      </div>
      <div class="col-lg-2 p-0 mb"></div>
    </div>
  </div>

  <div class="container bg-light mt-5">
    <div class="row">
        <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 order-lg-1">
            <div class="bg-line mt-3"></div>
        </div>
        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 order-lg-1">
        </div>
    </div>
    <h2 class="text-content">Tech Stack</h2>
    <div class="row mt-5 mb-5">
        <img src="assets/images/defi-clone/tech_edited_edited.png" class="mb-5" alt="">
    </div>
  </div>

  <hr class="text-secondary">
  <div class="container mt-5">
    <div class="row">
      <h4 class="text-center mb-3">(FAQ)</h4>
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="accordion accordion-flush" id="faq-parent-1">
        <div class="accordion-item">
          <h2 class="accordion-header" id="faq-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapseOne" aria-expanded="false" aria-controls="faq-collapseOne">
              1. What is the stipulated delivery time of the Uniswap Clone?
            </button>
          </h2>
          <div id="faq-collapseOne" class="accordion-collapse collapse" aria-labelledby="faq-headingOne" data-bs-parent="#faq-parent-1">
            <div class="accordion-body">Delivery time depends on several factors, including the customization requirements. Our team makes no compromise yet manages to deliver the script on the mutually agreed deadline.</div>
          </div>
        </div>
      </div>
      <div class="accordion accordion-flush" id="faq-parent-2">
        <div class="accordion-item">
          <h2 class="accordion-header" id="faq-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapseTwo" aria-expanded="false" aria-controls="faq-collapseTwo">
              2. Can I scale my App in the future in case my business gains more users?
            </button>
          </h2>
          <div id="faq-collapseTwo" class="accordion-collapse collapse" aria-labelledby="faq-headingTwo" data-bs-parent="#faq-parent-2">
            <div class="accordion-body">Our Uniswap clone is a highly scalable solution. You can upgrade the platform at any time in the coming years as per changing user preferences. You can integrate new features and functionalities, increase its handling capabilities, and redesignits user interface without any hassle.</div>
          </div>
        </div>
      </div>
      <div class="accordion accordion-flush" id="faq-parent-3">
        <div class="accordion-item">
          <h2 class="accordion-header" id="faq-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapseThree" aria-expanded="false" aria-controls="faq-collapseThree">
              3. Will you extend assistance after the app launch?
            </button>
          </h2>
          <div id="faq-collapseThree" class="accordion-collapse collapse" aria-labelledby="faq-headingThree" data-bs-parent="#faq-parent-3">
            <div class="accordion-body">Yes. We offer post-launch maintenance support to our clients to help them run their business smoothly in the initial few days.This support service is free of charge for a limited period. After this, you can avail of our paid maintenance services that areoffered at affordable prices.</div>
          </div>
        </div>
      </div>
      <div class="accordion accordion-flush" id="faq-parent-4">
        <div class="accordion-item">
          <h2 class="accordion-header" id="faq-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapseFour" aria-expanded="false" aria-controls="faq-collapseFour">
              4. What range of customization do I get?
            </button>
          </h2>
          <div id="faq-collapseFour" class="accordion-collapse collapse" aria-labelledby="faq-headingFour" data-bs-parent="#faq-parent-4">
            <div class="accordion-body">We can customize the solution at your will and add/remove any features and designs to suit your business model.</div>
          </div>
        </div>
      </div>
      <div class="accordion accordion-flush" id="faq-parent-5">
        <div class="accordion-item">
          <h2 class="accordion-header" id="faq-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapseFive" aria-expanded="false" aria-controls="faq-collapseFive">
              5. What if I need more details?
            </button>
          </h2>
          <div id="faq-collapseFive" class="accordion-collapse collapse" aria-labelledby="faq-headingFive" data-bs-parent="#faq-parent-5">
            <div class="accordion-body">Connect with our support team over email - dev@blockchainmind.com or call - +1 416 705 3572. You can also connect with us directly through the chat option available on our website.</div>
          </div>
        </div>
      </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
  <hr class="text-secondary">
</section>
