<header class="about-header">
   <div class="container position-relative mt-3">
      <div class="row">
         <div class="col-md-1"></div>
         <div class="col-md-5">
            <h1 class="text-white">About Us</h1>
         </div>
         <div class="col-md-6"></div>
      </div>
   </div>
</header>
<section class="showcase pb-3 pt-5 page-bg-white">
  <div class="container">
    <div class="row">
        <div class="col-md-5">
          <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 order-lg-2">
             <div class="bg-line"></div>
          </div>
          <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 order-lg-1">
          </div>
        </div>
        <div class="col-md-7"></div>
    </div>
     <h3 class="mt-3">BlockchainMind</h3> 
     <div class="row mt-5">
       <div class="col-md-7">
         <div style="text-align: justify;">We are a Toronto based Blockchain consulting firm which provides security and infrastructure solutions for Cryptocurrencies as well as Distributed Ledger Technologies for individuals and companies. Our mission is to leverage the Blockchain technology to revolutionise the business in general, as the internet revolutionised society. Our understanding of Blockchain technology enables us to bring a level of expertise to your enterprise like no one else. We help you understand blockchain technology and the potential opportunities for your organisation in a unique and innovative way.</div>

        <div style="text-align: justify;" class="mt-3">We’ve assembled a team of diverse individuals distributed across Canada, UK, USA and India. Our team is comprised of passionate, intelligent and creative individuals who embrace out-of-the-box strategies to propel our business forward. Our experts have vast experience in the field of Cyber Security, Network Design, Information Technology, Consultancy, Software Development, Machine Learning and Blockchain Technology.</div>
       </div>
       <div class="col-md-5 imageBCM">
          <img class="w-75" src="assets/images/about/blockchainMind.jpg" alt="..." />
       </div>
     </div>
   </div>
  <hr class="text-secondary">
</section>
