<header class="opensea-clone-header">
  <div class="container position-relative">
    <div class="row mt-5"></div>
    <div class="row justify-content-left mt-5 opensea">
      <div class="col-xl-12">
        <h4 class="text-dark">OpenSea Clone Script - To Build NFT MarketPlace like OpenSea</h4>
      </div>
      <div class="row mt-3">
        <div class="col-md-2">
          <img src="assets/images/opensea-clone/Opensea_edited.png">
        </div>
        <div class="col-md-10 mt-3">
          <h4 class="text-dark">OpenSea Clone Script</h4>
          <h4 class="text-dark">To Start NFT MarketPlace<br />LikeOpenSea.io</h4>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="showcase bg-white pb-3 pt-5 page-bg-white">
  <div class="container">
    <div class="mt-w card-text">The Non Fungible Tokens are availing the users with an alternate economy through trading
      of their works over a dedicated Platform for negotiating trade and get benefitted through the Platform. Unlike
      other Tokens, the NFTs cannot be used as a mode of monetizing in Crypto asset management, but exhibit a unique set
      of values based on the domain over which they are operated upon Owing to the overwhelming performance of the NFTs
      and their impacts on the Crypto Collectibles the Crypto Enthusiasts have started to opt for building a platform
      that brings all the NFT based trade-offs within a single Platform like the OpenSea</div>
    <div class="mt-3 card-text">Blockchainmind the Premium <span class="text-primary">Blockchain Development Company
      </span> aims to develop the OpenSea Clone Script for the endless benefits of the Participants looking to build
      their very own NFT marketplace.</div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="row">
        <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 order-lg-1">
          <div class="bg-line"></div>
        </div>
        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 order-lg-1"></div>
      </div>
      <h2 class="mt-3">OpenSea Clone Script</h2>
      <div class="mt-3">The OpenSea Clone Script is a Non-Fungible Token Marketplace that operates similar to OpenSea
        that allows trading off Crypto Collectibles in a variety of domains and executes the functionalities that
        include the buy, bid, and sell of Crypto Collectibles based on user requirements along with multiple modes of
        selling.</div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 order-lg-1">
        <div class="bg-line"></div>
      </div>
      <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
      <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
    </div>
    <h2 class="mt-3">Features of OpenSea Clone Script</h2>
    <div class="row mt-3 p-3">
      <div class="rowItem">
        <h5><i class="bi bi-chevron-double-right text-primary" style="margin-top: 2px;"></i></h5>
        <h5 class="card-title" style="margin-left: 1rem;">Simplified Design Architecture</h5>
      </div>

      <div class="rowItem">
        <h5><i class="bi bi-chevron-double-right text-primary" style="margin-top: 2px;"></i></h5>
        <h5 class="card-title" style="margin-left: 1rem;">Efficient Categorizing</h5>
      </div>

      <div class="rowItem">
        <h5><i class="bi bi-chevron-double-right text-primary" style="margin-top: 2px;"></i></h5>
        <h5 class="card-title" style="margin-left: 1rem;">User Activity tracking</h5>
      </div>

      <div class="rowItem">
        <h5><i class="bi bi-chevron-double-right text-primary" style="margin-top: 2px;"></i></h5>
        <h5 class="card-title" style="margin-left: 1rem;">Other NFT Tracking</h5>
      </div>

      <div class="rowItem">
        <h5><i class="bi bi-chevron-double-right text-primary" style="margin-top: 2px;"></i></h5>
        <h5 class="card-title" style="margin-left: 1rem;">Efficient asset Listing</h5>
      </div>

      <div class="rowItem">
        <h5><i class="bi bi-chevron-double-right text-primary" style="margin-top: 2px;"></i></h5>
        <h5 class="card-title" style="margin-left: 1rem;">Ranking and Perfomance statistics</h5>
      </div>

      <div class="rowItem">
        <h5><i class="bi bi-chevron-double-right text-primary" style="margin-top: 2px;"></i></h5>
        <h5 class="card-title" style="margin-left: 1rem;">Wallet Preference Specifications</h5>
      </div>

      <div class="rowItem">
        <h5><i class="bi bi-chevron-double-right text-primary" style="margin-top: 2px;"></i></h5>
        <h5 class="card-title" style="margin-left: 1rem;">Escrow Activity Specification</h5>
      </div>

      <div class="rowItem">
        <h5><i class="bi bi-chevron-double-right text-primary" style="margin-top: 2px;"></i></h5>
        <h5 class="card-title" style="margin-left: 1rem;">Market Offer tracking</h5>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="row">
        <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 order-lg-1">
          <div class="bg-line"></div>
        </div>
        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 order-lg-1"></div>
      </div>
      <h2 class="mt-3">OpenSea - Overview</h2>
      <div class="mt-3">OpenSea is an exclusive marketplace for NFTs to execute the trade of process, specifically
        designed to trade-off assets that include the Crypto collectibles, arts, and artifacts in the digital format
        over the Ethereum Blockchain Network architecture.</div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="row">
        <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 order-lg-1">
          <div class="bg-line"></div>
        </div>
        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 order-lg-1"></div>
      </div>
      <h2 class="mt-3">OpenSea Clone - To Create NFT Marketplace like OpenSea</h2>
      <div class="mt-3">The OpenSea Clone is an NFT marketplace like the OpenSea offering an exclusive marketplace for
        the Crypto collectibles to be traded off within the dedicated platform with a defined design architecture
        specifying the statistics of the data actually taking place through the Platform.</div>
    </div>
    <div class="row mt-3">
      <div class="col-md-7 mt-3">
        <h4 class="p-2">Get a Free Technical Consultation From Our Experts</h4>
      </div>
      <div class="displayData">

        <div class="col-12 col-md-12 mt-3 text-center">
          <a class="btn bg-btn whatsapp-btn"
            href="https://api.whatsapp.com/send?l=en&text=Hi!%20I%27m%20interested%20in%20one%20of%20your%20products%20at%20BCM&phone=+14167053572"
            target="_blank">Whatsapp</a>
        </div>

      </div>

    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="row">
        <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 order-lg-1">
          <div class="bg-line"></div>
        </div>
        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 order-lg-1"></div>
      </div>
      <h2 class="mt-3">NFT Tokens</h2>
      <div class="mt-3">The Non Fungible Tokens are a unique set of Tokens that cannot be usually traded like the normal
        Crypto Tokens, each of which NFTs have a unique value.</div>
      <div class="mt-3">The NFTs are bound to trade off assets that include the arts and artifacts that are in digital
        formats, which are buying, bid, and sell on the basis of the NFTs as the basic unit of transactions.</div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 order-lg-1">
        <div class="bg-line"></div>
      </div>
      <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
      <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
    </div>
    <h2 class="mt-3">OpenSea Clone - Supported Development Frameworks</h2>
    <div class="row mt-3 p-3">
      <h5 class="card-title mt-3"><i class="bi bi-chevron-double-right text-primary"></i>&nbsp;ERC 721</h5>
      <h5 class="card-title mt-3"><i class="bi bi-chevron-double-right text-primary"></i>&nbsp;ERC 1155</h5>
      <h5 class="card-title mt-3"><i class="bi bi-chevron-double-right text-primary"></i>&nbsp;User ERC 998</h5>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 order-lg-1">
        <div class="bg-line"></div>
      </div>
      <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
      <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
    </div>
    <h2 class="mt-3">OpenSea Clone - Supported Collectibles</h2>
    <div class="row mt-3 p-3">
      <div class="row">
        <h5 class="col-md-3 card-title mt-3"><i class="bi bi-chevron-double-right text-primary"></i>&nbsp;Gaming</h5>
        <h5 class="col-md-3 card-title mt-3"><i class="bi bi-chevron-double-right text-primary"></i>&nbsp;Arts</h5>
        <h5 class="col-md-3 card-title mt-3"><i class="bi bi-chevron-double-right text-primary"></i>&nbsp;Domains</h5>
        <h5 class="col-md-3 card-title mt-3"><i class="bi bi-chevron-double-right text-primary"></i>&nbsp;Sports</h5>
      </div>
      <div class="row">
        <h5 class="col-md-3 card-title mt-3"><i class="bi bi-chevron-double-right text-primary"></i>&nbsp;Sports</h5>
        <h5 class="col-md-3 card-title mt-3"><i class="bi bi-chevron-double-right text-primary"></i>&nbsp;Artifacts</h5>
        <h5 class="col-md-3 card-title mt-3"><i class="bi bi-chevron-double-right text-primary"></i>&nbsp;Memes</h5>
        <h5 class="col-md-3 card-title mt-3"><i class="bi bi-chevron-double-right text-primary"></i>&nbsp;Trump cards
        </h5>
      </div>
      <div class="row">
        <h5 class="col-md-3 card-title mt-3"><i class="bi bi-chevron-double-right text-primary"></i>&nbsp;Placards</h5>
        <h5 class="col-md-3 card-title mt-3"><i class="bi bi-chevron-double-right text-primary"></i>&nbsp;Posters</h5>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 order-lg-1">
        <div class="bg-line"></div>
      </div>
      <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
      <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
    </div>
    <h2 class="mt-3">Why Start OpenSea Over Rarible?</h2>
    <div class="row mt-3 p-3">
      <div class="rowItem">
        <h5><i class="bi bi-chevron-double-right text-primary" style="margin-top: 2px;"></i></h5>
        <h5 class="card-title" style="margin-left: 1rem;">Easy Onboarding to participants</h5>
      </div>
      <div class="rowItem">
        <h5><i class="bi bi-chevron-double-right text-primary" style="margin-top: 2px;"></i></h5>
        <h5 class="card-title" style="margin-left: 1rem;">Seller side beneficial transaction fee structure</h5>
      </div>
      <div class="rowItem">
        <h5><i class="bi bi-chevron-double-right text-primary" style="margin-top: 2px;"></i></h5>
        <h5 class="card-title" style="margin-left: 1rem;">User Par excellent service and listing</h5>
      </div>
      <div class="rowItem">
        <h5><i class="bi bi-chevron-double-right text-primary" style="margin-top: 2px;"></i></h5>
        <h5 class="card-title" style="margin-left: 1rem;">Other Improved Market Performance</h5>
      </div>
      <div class="rowItem">
        <h5><i class="bi bi-chevron-double-right text-primary" style="margin-top: 2px;"></i></h5>
        <h5 class="card-title" style="margin-left: 1rem;">Governance attribute</h5>
      </div>
      <div class="rowItem">
        <h5><i class="bi bi-chevron-double-right text-primary" style="margin-top: 2px;"></i></h5>
        <h5 class="card-title" style="margin-left: 1rem;">Leveraging Business Benefits</h5>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 order-lg-1">
        <div class="bg-line"></div>
      </div>
      <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
      <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
    </div>
    <h2 class="mt-3">How to Build NFT MarketPlace with OpenSea Clone Script?</h2>
    <h6 class="mt-3">There are two available modes in building the NFT marketplace with OpenSea Clone Script that
      includes,</h6>
    <div class="row mt-3 p-2">
      <h5 class="card-title mt-3"><i class="bi bi-chevron-double-right text-primary"></i>&nbsp;Conventional Coding</h5>
      <h5 class="card-title mt-3"><i class="bi bi-chevron-double-right text-primary"></i>&nbsp;MetaData API</h5>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 order-lg-1">
        <div class="bg-line"></div>
      </div>
      <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
      <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
    </div>
    <h2 class="mt-3">Conventional Mode</h2>
    <h6 class="mt-3">The Conventional Mode of writing contract for the OpenSea Clone Script NFT marketplace takes place
      through a set of streamlined process that includes,</h6>
    <div class="row mt-3 p-3">
      <div class="row">
        <div class="rowItem col-md-4">
          <h5><i class="bi bi-chevron-double-right text-primary" style="margin-top: 2px;"></i></h5>
          <h5 class="card-title" style="margin-left: 1rem;">Operable Token Selection</h5>
        </div>
        <div class="rowItem col-md-4">
          <h5><i class="bi bi-chevron-double-right text-primary" style="margin-top: 2px;"></i></h5>
          <h5 class="card-title" style="margin-left: 1rem;">Creature Development</h5>
        </div>
        <div class="rowItem col-md-4">
          <h5><i class="bi bi-chevron-double-right text-primary" style="margin-top: 2px;"></i></h5>
          <h5 class="card-title" style="margin-left: 1rem;">Creature Development on solidity</h5>
        </div>
      </div>
      <div class="row">
        <div class="rowItem col-md-4">
          <h5><i class="bi bi-chevron-double-right text-primary" style="margin-top: 2px;"></i></h5>
          <h5 class="card-title" style="margin-left: 1rem;">Mintable Token creation</h5>
        </div>
        <div class="rowItem col-md-4">
          <h5><i class="bi bi-chevron-double-right text-primary" style="margin-top: 2px;"></i></h5>
          <h5 class="card-title" style="margin-left: 1rem;">Configuration setting up</h5>
        </div>
        <div class="rowItem col-md-4">
          <h5><i class="bi bi-chevron-double-right text-primary" style="margin-top: 2px;"></i></h5>
          <h5 class="card-title" style="margin-left: 1rem;">Seed phrase inclusion</h5>
        </div>
      </div>
      <div class="row">
        <div class="rowItem col-md-4">
          <h5><i class="bi bi-chevron-double-right text-primary" style="margin-top: 2px;"></i></h5>
          <h5 class="card-title" style="margin-left: 1rem;">DN file sourcing</h5>
        </div>
        <div class="rowItem col-md-4">
          <h5><i class="bi bi-chevron-double-right text-primary" style="margin-top: 2px;"></i></h5>
          <h5 class="card-title" style="margin-left: 1rem;">Rinkeby Faucet Inclusion</h5>
        </div>
        <div class="rowItem col-md-4">
          <h5><i class="bi bi-chevron-double-right text-primary" style="margin-top: 2px;"></i></h5>
          <h5 class="card-title" style="margin-left: 1rem;">Seed Secondary file selection</h5>
        </div>
      </div>
      <div class="row">
        <div class="rowItem col-md-4">
          <h5><i class="bi bi-chevron-double-right text-primary" style="margin-top: 2px;"></i></h5>
          <h5 class="card-title" style="margin-left: 1rem;">Overwrite base URI</h5>
        </div>
        <div class="rowItem col-md-4">
          <h5><i class="bi bi-chevron-double-right text-primary" style="margin-top: 2px;"></i></h5>
          <h5 class="card-title" style="margin-left: 1rem;">Network
            Deployment</h5>
        </div>
        <div class="rowItem col-md-4">
          <h5><i class="bi bi-chevron-double-right text-primary" style="margin-top: 2px;"></i></h5>
          <h5 class="card-title" style="margin-left: 1rem;">Contract
            address creation</h5>
        </div>
      </div>
      <div class="row">
        <div class="rowItem col-md-4">
          <h5><i class="bi bi-chevron-double-right text-primary" style="margin-top: 2px;"></i></h5>
          <h5 class="card-title" style="margin-left: 1rem;">Owner address specification</h5>
        </div>
        <div class="rowItem col-md-4">
          <h5><i class="bi bi-chevron-double-right text-primary" style="margin-top: 2px;"></i></h5>
          <h5 class="card-title" style="margin-left: 1rem;">Token Creation</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="row">
        <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 order-lg-1">
          <div class="bg-line"></div>
        </div>
        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 order-lg-1"></div>
      </div>
      <h2 class="mt-3">Metadata API</h2>
      <div class="mt-3">Metadata APIs retrieve, deploy, create, update or delete and customize information, such as
        custom object definitions and page layouts, for your organization. This API is intended for managing
        customization without altering the data itself. This method is an easy mode to avail of the services of the NFT
        marketplace.</div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 order-lg-1">
        <div class="bg-line"></div>
      </div>
      <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
      <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
    </div>
    <h2 class="mt-3">How does OpenSea Clone Scripts Works?</h2>
    <h6 class="mt-3">The OpenSea Clone Script executes its NFT trading aspects through the set of processing steps that
      include,</h6>
    <h5 class="col-md-4 card-title mt-3"><i class="bi bi-chevron-double-right text-primary"></i>&nbsp;Building your
      Marketplace</h5>
    <h5 class="col-md-4 card-title mt-3"><i class="bi bi-chevron-double-right text-primary"></i>&nbsp;Opening up the
      Marketplace</h5>
    <h5 class="col-md-4 card-title mt-3"><i class="bi bi-chevron-double-right text-primary"></i>&nbsp;Run your own Crowd
      sale</h5>
    <h5 class="col-md-4 card-title mt-3"><i class="bi bi-chevron-double-right text-primary"></i>&nbsp;Power in-app
      economy</h5>
    <h5 class="col-md-4 card-title mt-3"><i class="bi bi-chevron-double-right text-primary"></i>&nbsp;Fetch assets with
      APIs</h5>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="row">
        <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 order-lg-1">
          <div class="bg-line"></div>
        </div>
        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 order-lg-1"></div>
      </div>
      <h2 class="mt-3">Top Performing Collectibles in Trends</h2>
      <div class="mt-3">The collectibles that get listed in the top performers are mostly the gaming attributes and
        their based collectibles. The games include the Decentraland, Gods Unchained, and Crypto Kitties. The Crypto
        Kitty dragon was subject to be sold at the highest price ever with a pricing of 600 ETH, and the EXG.ETH domain
        went for humongous pricing of 500,000 USD.</div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 order-lg-1">
        <div class="bg-line"></div>
      </div>
      <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
      <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
    </div>
    <h2 class="mt-3">Why Clone OpenSea?</h2>
    <div class="rowItem col-md-4">
      <h5><i class="bi bi-chevron-double-right text-primary" style="margin-top: 2px;"></i></h5>
      <h5 class="card-title" style="margin-left: 1rem;">More than 4,000,000
        collectibles out for trade</h5>
    </div>
    <div class="rowItem col-md-4">
      <h5><i class="bi bi-chevron-double-right text-primary" style="margin-top: 2px;"></i></h5>
      <h5 class="card-title" style="margin-left: 1rem;">135+ assets are directly
        available for trade</h5>
    </div>
    <div class="rowItem col-md-4">
      <h5><i class="bi bi-chevron-double-right text-primary" style="margin-top: 2px;"></i></h5>
      <h5 class="card-title" style="margin-left: 1rem;">Run Ranked number 1 in
        market performance</h5>
    </div>
    <div class="rowItem col-md-4">
      <h5><i class="bi bi-chevron-double-right text-primary" style="margin-top: 2px;"></i></h5>
      <h5 class="card-title" style="margin-left: 1rem;">Wide range variety of
        availability of resources</h5>
    </div>
    <div class="rowItem col-md-4">
      <h5><i class="bi bi-chevron-double-right text-primary" style="margin-top: 2px;"></i></h5>
      <h5 class="card-title" style="margin-left: 1rem;">Active transaction history
        tracking</h5>
    </div>
    <div class="rowItem col-md-4">
      <h5><i class="bi bi-chevron-double-right text-primary" style="margin-top: 2px;"></i></h5>
      <h5 class="card-title" style="margin-left: 1rem;">Automated Statistics</h5>
    </div>
    <div class="rowItem col-md-4">
      <h5><i class="bi bi-chevron-double-right text-primary" style="margin-top: 2px;"></i></h5>
      <h5 class="card-title" style="margin-left: 1rem;">Versatility in listing NFTS
        and resources</h5>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="row">
        <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 order-lg-1">
          <div class="bg-line"></div>
        </div>
        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 order-lg-1"></div>
      </div>
      <h2 class="mt-3">Why Choose BlockChainMind for OpenSea Clone Scripts?</h2>
      <div class="mt-3">BlockChainMind the predominant <span class="text-primary">DeFi Development Company</span>
        develops the NFT marketplace for efficient trading and negotiating the trade-off assets that include the Crypto
        Collectibles and other creativities like paintings, posters, placards, and gaming skins, etc.</div>
    </div>
    <div class="row mt-3">
      <div class="col-md-7 mt-3">
        <h4 class="p-2">Get a Free Technical Consultation From Our Experts</h4>
      </div>
      <div class="displayData">
        <div class="col-12 col-md-12 mt-3 text-center">
          <a class="btn bg-btn whatsapp-btn"
            href="https://api.whatsapp.com/send?l=en&text=Hi!%20I%27m%20interested%20in%20one%20of%20your%20products%20at%20BCM&phone=+14167053572"
            target="_blank">Whatsapp</a>
        </div>
      </div>

    </div>
    <div class="card mt-5 mb-5">
      <div class="row mt-3 mb-3">
        <div class="col mx-1" style="align-self: center;">
          <a class="btn btn-outline-secondary btn-border col-md-12">NFT Tokens</a>
        </div>
        <div class="col mx-1">
          <a class="btn btn-outline-secondary btn-border col-md-12">NFT Marketplace</a>
        </div>
        <div class="col mx-1">
          <a class="btn btn-outline-secondary btn-border col-md-12">Rarible Clone</a>
        </div>
        <div class="col mx-1">
          <a class="btn btn-outline-secondary btn-border col-md-12">Opensea Clone</a>
        </div>
        <div class="col mx-1 fugitive">
          <a class="btn btn-outline-secondary btn-border col-md-12">Non Fungible Tokens</a>
        </div>

      </div>

      <div class="col mx-1 fugitiveShow" style="align-self: center; margin-bottom: 1rem;">
        <a class="btn btn-outline-secondary btn-border col-md-12">Non Fungible Tokens</a>
      </div>
    </div>
  </div>

  <!-- <div class="container mt-5">
   <div class="row">
       <div class="row">
         <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 order-lg-1">
           <div class="bg-line"></div>
         </div>
         <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 order-lg-1"></div>
       </div>
       <h2 class="mt-3">Rewards & Recognitions</h2>
       <div class="row m-1 mb-4 mt-4">
         <div class="col mx-1">
           <img class="card-img-top" src="assets/images/opensea-clone/blockchainmind_yellowpages_edited.png"/>
         </div>
         <div class="col mx-1">
           <img class="card-img-top" src="assets/images/opensea-clone/blockchainmind_recognized_Crunchbase_edi.png"/>
         </div>
         <div class="col mx-1">
           <img class="card-img-top" src="assets/images/opensea-clone/blockchainmind_yellowpages_edited.png"/>
         </div>
         <div class="col mx-1">
           <img class="card-img-top" src="assets/images/opensea-clone/blockchainmind_recognized_Crunchbase_edi.png"/>
         </div>
       </div>
   </div>
 </div> -->

  <hr class="text-secondary">
</section>
