<header class="exchange-clone-header">
   <div class="container position-relative">
      <div class="row">
         <div class="col-md-6">
            <h1 class="text-white">Cryptocurrency Exchange</h1>
            <h5 class="text-secondary text-white" style="text-align: justify;">Looking to create the perfect Cryptocurrency Exchange script? Worry, not. You’ve stumbled upon the right site.</h5>
            <div class="row mt-4">
              <!-- <div class="col-md-3"></div> -->
              <div class="col-md-4 text-white btn-center">
                <a class="btn bg-btn col-md-12 whatsapp-btn" href="/contact" target="_blank">Contact Us</a>
              </div>
              <div class="col-md-5"></div>
            </div>
         </div>
      </div>
   </div>
</header>
<section class="showcase bg-white pb-3 pt-5 page-bg-white">
  <div class="container">
    <div class="row">
        <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 order-lg-1">
          <div class="bg-line"></div>
        </div>
        <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
    </div>
    <h2 class="mt-3 text-center">Cryptocurrency Exchange Script Solutions</h2>
    <p class="mt-5 card-text">Cryptocurrency exchange script is a specifically designed set of codes that enables the proprietor to create a customised cryptocurrency exchange software. It is the base through which a seamless exchange platform can be created. We at Blockchain Mind create cryptocurrency exchange by providing unparalleled script solutions, right development and post-launch support. Our exchange script ensures that all the required “order” trading functionalities are embedded in the software. Right from End-to-end customisation to bug-free support, we provide the entire package for the right cryptocurrency exchange script. We are one of the earliest adopters of Blockchain technology and we have immense knowledge and expertise to create the perfect Cryptocurrency Exchange script for you.</p>
    <div class="row mt-1">
      <div class="col-12 col-sm-12 col-md-12 m-3 text-center whatsapp-btn-div">
        <a class="btn bg-btn col-md-12 whatsapp-btn" href="https://api.whatsapp.com/send?l=en&text=Hi!%20I%27m%20interested%20in%20one%20of%20your%20products%20at%20BCM&phone=+14167053572" target="_blank">Connect with Whatsapp</a>
      </div>
      <!-- <div class="col-md-1"></div>
      <div class="col-11 col-sm-4 col-md-4 m-3 btn-center">
        <a class="btn bg-btn col-md-12" href="https://www.blockchainmind.com/uniswap-clone" target="_blank">Buy Now - Cryptocurrency Exchange</a>
      </div>
      <div class="col-md-1"></div> -->
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 order-lg-1">
            <div class="bg-line"></div>
          </div>
          <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 order-lg-1"></div>
        </div>
        <h2 class="mt-3">Choose Your Exchange Type</h2>
        <div class="mt-5">We can create an exchange script that’s being used by the top cryptocurrency exchanges in the world.</div>
        <h4 class="mt-5">Readymade Cryptocurrency Exchange Script</h4>
        <li class="mt-3">P2P Orders Books Trading</li>
        <li class="mt-3">P2P Ads Based Exchange</li>
        <li class="mt-3">User to Admin Trading Exchange</li>
      </div>
      <div class="col-lg-6 showcase-img exchange-type-bg"></div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
        <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 order-lg-1">
            <div class="bg-line"></div>
        </div>
         <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
        <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
    </div>
    <h2 class="mt-3">Our Package Will Include</h2>
    <div class="row mt-5">
      <div class="col-lg-6 exchange-package-bg">

      </div>
      <div class="col-lg-6 p-3">
        <div class="card border-0">
          <div class="row g-0">
            <div class="col-md-3">
              <img src="assets/images/exchange-clone/trading-bot.png" alt="">
            </div>
            <div class="col-md-9">
              <div class="card-body">
                <h5 class="card-title">TRADING BOT</h5>
                <p class="card-text">Trade 24/7 with Trading bots in the picture. Use the Bot’s algorithm to recognize various indicators and understand trends which automatically execute trades by placing buy and sell orders.</p>
              </div>
            </div>
          </div>
        </div>
         <div class="card border-0">
          <div class="row g-0">
            <div class="col-md-3">
              <img src="assets/images/exchange-clone/user-wallet.png" alt="">
            </div>
            <div class="col-md-9">
              <div class="card-body">
                <h5 class="card-title">USER WALLET</h5>
                <p class="card-text">The most secure place to store and stack the cryptocurrencies is the wallet. Hence, we understand the need for a strong wallet for users.</p>
              </div>
            </div>
          </div>
        </div>
         <div class="card border-0">
          <div class="row g-0">
            <div class="col-md-3">
              <img src="assets/images/exchange-clone/kyc-system.png" alt="">
            </div>
            <div class="col-md-9">
              <div class="card-body">
                <h5 class="card-title">KYC SYSTEM</h5>
                <p class="card-text">Obstruct any activities of money laundering on your exchange by integrating Anti-Money Laundering (AML) with KYC.</p>
              </div>
            </div>
          </div>
        </div>
         <div class="card border-0">
          <div class="row g-0">
            <div class="col-md-3">
              <img src="assets/images/exchange-clone/margin-trading.png" alt="">
            </div>
            <div class="col-md-9">
              <div class="card-body">
                <h5 class="card-title">MARGIN TRADING & LENDING</h5>
                <p class="card-text">Margin Trading helps ease the trading process, traders can lend coins from the Lenders depending on the ‘margin’ created by the Lenders.</p>
              </div>
            </div>
          </div>
        </div>
         <div class="card border-0">
          <div class="row g-0">
            <div class="col-md-3">
              <img src="assets/images/exchange-clone/security.png" alt="">
            </div>
            <div class="col-md-9">
              <div class="card-body">
                <h5 class="card-title">ESCROW SECURITY</h5>
                <p class="card-text">Through the use of smart contracts and automated regulations, Escrow is the most advanced security that’s independent of both parties.</p>
              </div>
            </div>
          </div>
        </div>
         <div class="card border-0">
          <div class="row g-0">
            <div class="col-md-3">
              <img src="assets/images/exchange-clone/admin-panel.png" alt="">
            </div>
            <div class="col-md-9">
              <div class="card-body">
                <h5 class="card-title">ADMIN PANEL</h5>
                <p class="card-text">Our customized admin panel comes with advanced technology aspects. The unique interface and powerful dashboard are created to help you manage your exchange with peace of mind.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-3 col-sm-3 col-md-2 col-lg-2 col-xl-2 order-lg-1">
          <div class="bg-line"></div>
      </div>
       <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
      <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
    </div>
    <h2 class="mt-3">Why Our Cryptocurrency Exchange Script?</h2>
    <div class="row mt-5">
      <div class="col-md-3">
        <div class="card border-0"  class="imageCenter">
          <img src="assets/images/exchange-clone/1-36.png"  style="height: 40%;width: 40%;" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text text-center">Quick Installation of Cryptocurrency Exchange and Trading script.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card border-0" class="imageCenter">
          <img src="assets/images/exchange-clone/1-37.png"  style="height: 40%;width: 40%;" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text text-center">Get a Powerful and Dynamic Order Book.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card border-0"  class="imageCenter">
          <img src="assets/images/exchange-clone/1-38.png"   style="height: 40%;width: 40%;" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text text-center">Get a reliable ‘bitcoin exchange script’ to kick-start a successful exchange.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card border-0"  class="imageCenter">
          <img src="assets/images/exchange-clone/1-39.png"  style="height: 40%;width: 40%;" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text text-center">Start an Exchange similar to Binance | Coinbase | Localbitcoin.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-3 col-sm-3 col-md-2 col-lg-2 col-xl-2 order-lg-1">
          <div class="bg-line"></div>
      </div>
       <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
      <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
    </div>
    <h2 class="mt-3">Cryptocurrency Software Features</h2>
    <div class="row mt-5">
      <div class="section-card col-lg-4 p-0 mb">
        <div class="features-icons-item">
            <img src="assets/images/exchange-clone/1-18.png" alt="" class="d-inline-block align-text-top">
            <h5 class="titleData text-content">Multiple Currency Pairing</h5>
            <div class="text-secondary text-header descriptionData">You can integrate multiple currency pairing options into the Cryptocurrency exchange script, which will enable crypto to crypto trading.</div>
        </div>
      </div>
      <div class="section-card col-lg-4 p-0 mb">
        <div class="features-icons-item">
            <img src="assets/images/exchange-clone/1-19.png" alt="" class="d-inline-block align-text-top">
            <h5 class="titleData text-content">Integrated Wallet</h5>
            <div class="text-secondary text-header descriptionData">Global Problems, Global Solutions. Your users can choose between numerous languages, for non-stop trading.</div>
        </div>
      </div>
      <div class="section-card col-lg-4 p-0 mb">
        <div class="features-icons-item">
            <img src="assets/images/exchange-clone/1-20.png" alt="" class="d-inline-block align-text-top">
            <h5 class="titleData text-content">Advanced CMS</h5>
            <div class="text-secondary text-header descriptionData">Help traders find the best trading pair by giving the most accurate match for cryptocurrency that needs to be traded.</div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="section-card col-lg-4 p-0 mb">
        <div class="features-icons-item">
            <img src="assets/images/exchange-clone/1-21.png" alt="" class="d-inline-block align-text-top">
            <h5 class="text-content titleData">Market Making</h5>
            <div class="text-secondary text-header descriptionData">With a cryptocurrency exchange at your disposal, you can create a niche market for your customers.</div>
        </div>
      </div>
      <div class="section-card col-lg-4 p-0 mb">
        <div class="features-icons-item">
            <img src="assets/images/exchange-clone/1-22.png" alt="" class="d-inline-block align-text-top">
            <h5 class="text-content titleData">BTC Wallet</h5>
            <div class="text-secondary text-header descriptionData">Our Decentralized system supports all devices, that you wish to enable in your wallet for an easy transaction. Integrating a secure wallet and rendering a robust mobile wallet service.</div>
        </div>
      </div>
      <div class="section-card col-lg-4 p-0 mb">
        <div class="features-icons-item">
            <img src="assets/images/exchange-clone/1-23.png" alt="" class="d-inline-block align-text-top">
            <h5 class="text-content titleData">Payment Options</h5>
            <div class="text-secondary text-header descriptionData">New and changing crypto payment trends are taken care of by us. We shall integrate the exchange script with the latest and most versatile payment methods.</div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="section-card col-lg-4 p-0 mb">
        <div class="features-icons-item">
            <img src="assets/images/exchange-clone/1-24.png" alt="" class="d-inline-block align-text-top">
            <h5 class="titleData text-content">Easy Customization</h5>
            <div class="text-secondary text-header descriptionData">Our customized exchange will allow you to add or remove a Cryptocurrency trading pair, trade orders and payment options and roll out regular updates and much more</div>
        </div>
      </div>
      <div class="section-card col-lg-4 p-0 mb">
        <div class="features-icons-item">
            <img src="assets/images/exchange-clone/1-25.png" alt="" class="d-inline-block align-text-top">
            <h5 class="titleData text-content">Multi Lingual</h5>
            <div class="text-secondary text-header descriptionData">Global Problems, Global Solutions. Your users can choose between numerous languages, for non-stop trading.</div>
        </div>
      </div>
      <div class="section-card col-lg-4 p-0 mb">
        <div class="features-icons-item">
            <img src="assets/images/exchange-clone/1-26.png" alt="" class="d-inline-block align-text-top">
            <h5 class="titleData text-content">Match and Trade</h5>
            <div class="text-secondary text-header descriptionData">Help traders find the best trading pair by giving the most accurate match for cryptocurrency that needs to be traded.</div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="section-card col-lg-4 p-0 mb">
        <div class="features-icons-item">
            <img src="assets/images/exchange-clone/1-27.png" alt="" class="d-inline-block align-text-top">
            <h5 class="titleData text-content">Liquidity Management</h5>
            <div class="text-secondary text-header descriptionData">External order books do not offer the liquidity as local order books do. With our Liquidity management feature, you can liquidate your earnings the right way.</div>
        </div>
      </div>
      <div class="section-card col-lg-4 p-0 mb">
        <div class="features-icons-item">
            <img src="assets/images/exchange-clone/1-28.png" alt="" class="d-inline-block align-text-top">
            <h5 class="titleData text-content">Two-Factor Authentication</h5>
            <div class="text-secondary text-header descriptionData">ecurity is a of pivotal importance, with our two-factor authentication you need not worry about any unforeseen breaches.</div>
        </div>
      </div>
      <div class="section-card col-lg-4 p-0 mb">
        <div class="features-icons-item">
            <img src="assets/images/exchange-clone/1-29.png" alt="" class="d-inline-block align-text-top">
            <h5 class="titleData text-content">Auto Withdrawal Limit</h5>
            <div class="text-secondary text-header descriptionData">As an admin, you can set withdrawal limit and ensure the inflow of your commissions on a daily basis.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-3 col-sm-3 col-md-2 col-lg-2 col-xl-2 order-lg-1">
          <div class="bg-line"></div>
      </div>
       <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
      <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-lg-1"></div>
    </div>
    <h2 class="mt-3">Crypto Exchange Script Working Model</h2>
    <div class="row mt-5">
      <h5 class="mt-3 text-secondary text-center">Working Model From The User’s Perspective</h5>
      <div class="col mx-1">
        <div class="card border-0">
          <img src="assets/images/exchange-clone/1-40.png" class="card-img-top" alt="...">
          <h5 class="card-title text-center">REGISTRATION</h5>
          <div class="card-body">
            <p class="card-text text-center">First step is to register yourself in the exchange to start trading on the exchange.</p>
          </div>
        </div>
      </div>
      <div class="col mx-1">
        <div class="card border-0">
          <img src="assets/images/exchange-clone/1-41.png" class="card-img-top" alt="...">
          <h5 class="card-title text-center">KYC</h5>
          <div class="card-body">
            <p class="card-text text-center">“Know Your Customer” prompt will then be shown to you for verification, along with AML docs.</p>
          </div>
        </div>
      </div>
      <div class="col mx-1">
        <div class="card border-0">
          <img src="assets/images/exchange-clone/1-42.png" class="card-img-top" alt="...">
          <h5 class="card-title text-center">COIN PAIR</h5>
          <div class="card-body">
            <p class="card-text text-center">You will be allowed to choose trade pair/pairs for trading. Following this is the actual trade of cryptocurrencies.</p>
          </div>
        </div>
      </div>
      <div class="col mx-1">
        <div class="card border-0">
          <img src="assets/images/exchange-clone/1-43.png" class="card-img-top" alt="...">
          <h5 class="card-title text-center">TRADE</h5>
          <div class="card-body">
            <p class="card-text text-center">Right from matching the most accurate trading pair and finding the right means to trade the same is important to you as a user.</p>
          </div>
        </div>
      </div>
      <div class="col mx-1">
        <div class="card border-0">
          <img src="assets/images/exchange-clone/1-44.png" class="card-img-top" alt="...">
          <h5 class="card-title text-center">COMMISSION</h5>
          <div class="card-body">
            <p class="card-text text-center">The marginal commission will be deducted by the exchange. This will be the earnings of the admin or exchange controller.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="text-secondary">
  <div class="container mt-5">
    <div class="row">
      <h4 class="text-center mb-3">(FAQ)</h4>
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="accordion accordion-flush" id="faq-parent-1">
        <div class="accordion-item">
          <h2 class="accordion-header" id="faq-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapseOne" aria-expanded="false" aria-controls="faq-collapseOne">
              1. Will my exchange script be able to exchange Bitcoins?
            </button>
          </h2>
          <div id="faq-collapseOne" class="accordion-collapse collapse" aria-labelledby="faq-headingOne" data-bs-parent="#faq-parent-1">
            <div class="accordion-body">Yes, you can Trade bitcoin and other cryptocurrencies with ease.</div>
          </div>
        </div>
      </div>
      <div class="accordion accordion-flush" id="faq-parent-2">
        <div class="accordion-item">
          <h2 class="accordion-header" id="faq-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapseTwo" aria-expanded="false" aria-controls="faq-collapseTwo">
              2. Can you customize the matching engine in the exchange?
            </button>
          </h2>
          <div id="faq-collapseTwo" class="accordion-collapse collapse" aria-labelledby="faq-headingTwo" data-bs-parent="#faq-parent-2">
            <div class="accordion-body">Yes, matching engine is 100% customizable. You can customize it as per your requirements.</div>
          </div>
        </div>
      </div>
      <div class="accordion accordion-flush" id="faq-parent-3">
        <div class="accordion-item">
          <h2 class="accordion-header" id="faq-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapseThree" aria-expanded="false" aria-controls="faq-collapseThree">
              3. Will the exchange be on par with other leading exchanges?
            </button>
          </h2>
          <div id="faq-collapseThree" class="accordion-collapse collapse" aria-labelledby="faq-headingThree" data-bs-parent="#faq-parent-3">
            <div class="accordion-body">Yes, our exchange script sets the bar high for other exchanges in existence.</div>
          </div>
        </div>
      </div>
      <div class="accordion accordion-flush" id="faq-parent-4">
        <div class="accordion-item">
          <h2 class="accordion-header" id="faq-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapseFour" aria-expanded="false" aria-controls="faq-collapseFour">
              4. Will the exchange script be secure? If yes, How?
            </button>
          </h2>
          <div id="faq-collapseFour" class="accordion-collapse collapse" aria-labelledby="faq-headingFour" data-bs-parent="#faq-parent-4">
            <div class="accordion-body">We have a lot of cutting edge security features integrated into the script. Plus the regular security patches that keep the script secured against unforeseen breaches.</div>
          </div>
        </div>
      </div>
      <div class="accordion accordion-flush" id="faq-parent-5">
        <div class="accordion-item">
          <h2 class="accordion-header" id="faq-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapseFive" aria-expanded="false" aria-controls="faq-collapseFive">
              5. Will I be updated with the progression of the project?
            </button>
          </h2>
          <div id="faq-collapseFive" class="accordion-collapse collapse" aria-labelledby="faq-headingFive" data-bs-parent="#faq-parent-5">
            <div class="accordion-body">Yes, we will ensure you are totally in the loop and don’t miss anything pertaining to your problem.</div>
          </div>
        </div>
      </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
  <hr class="text-secondary">
</section>
