<header class="career-header" style="margin-top: 5rem;">
   <div class="container position-relative">
      <div class="row justify-content-left ">
        <div class="col-xl-6">
          <div class="text-white">
              <h1 class=" text-header">Meet Blockchain Mind</h1>
              <h5 class=" text-content">We’re creating digital experiences</h5>
          </div>
        </div>
        <!-- <div class="col-md-12">

        </div> -->
    </div>
   </div>
</header>
<section class="showcase bg-white pb-3 pt-5 page-bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-12">
        <select class="form-control">
          <option selected disabled>Select Job</option>
          <option value="full-stack-developer">Full Stack Developer</option>
          <option value="front-end-developer ">Front End Developer</option>
          <option value="devops-engineer">Devops Engineer</option>
          <option value="cloud-engineer">Cloud Engineer</option>
          <option value="blockchain-engineer">Blockchain Developer</option>
        </select>
      </div>
      <!-- <div class="col-md-2 mt-3"></div> -->
      <div class="col-md-4 btn-center">
        <a class="btn bg-btn whatsapp-btn" routerLink="/jobs">FIND JOBS</a>
      </div>
    </div>
    <div class="mt-5"></div>
      <div class="row">
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1">
          <div class="row">
            <div class="col-8 col-sm-8 col-md-3 col-lg-3 col-xl-3">
                <div class="bg-line"></div>
            </div>
            <div class="col-2 col-sm-2 col-md-5 col-lg-5 col-xl-5"></div>
          </div>
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1">
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1"></div>
      </div>
      <h2 class="mt-3">Ready to make a difference?</h2>
      <div class="row mt-5">
        <div class="section-card col-lg-4 p-0 mb bg-light">
        <div class="features-icons-item mx-auto p-4">
            <h5 class="mt-3 text-content text-center">Student / Early Career</h5>
            <div class="text-secondary text-header mt-4 text-center">Chances are you're not looking for business as usual. Neither are we. Find out more about our student and entry level opportunities.</div>
            <div class="text-center mt-3">
              <a class="btn bg-btn whatsapp-btn" routerLink="/learning-development">LEARN MORE</a>
            </div>
        </div>
      </div>
      <div class="section-card col-lg-4 p-0 mb bg-light">
        <div class="features-icons-item mx-auto p-4">
            <h5 class="mt-3 text-content text-center">Professionals</h5>
            <div class="text-secondary text-header mt-4 text-center">A great workplace thrives on ideas and opportunity. You’ll find both at Cognizant. Follow your ideas, and choose innovative career tracks. Challenge convention.</div>
            <div class="text-center mt-3">
              <a class="btn bg-btn whatsapp-btn" href="/jobs">LEARN MORE</a>
            </div>
        </div>
      </div>
      <div class="section-card col-lg-4 p-0 mb bg-light">
        <div class="features-icons-item mx-auto p-4">
            <h5 class="mt-3 text-content text-center">Executives</h5>
            <div class="text-secondary text-header mt-4 text-center">You’re ready to lead and influence change. You want to make a difference. Discover what we have to offer, and what we can do together.</div>
            <div class="text-center mt-3">
              <a class="btn bg-btn whatsapp-btn" href="/jobs">LEARN MORE</a>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5">
      <div class="row">
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1">
          <div class="row">
            <div class="col-8 col-sm-8 col-md-3 col-lg-3 col-xl-3">
                <div class="bg-line"></div>
            </div>
            <div class="col-2 col-sm-2 col-md-5 col-lg-5 col-xl-5"></div>
          </div>
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1">
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1"></div>
      </div>
      <h2 class="mt-3">Why Work Here?</h2>
      <h4 class="text-secondary p-3">We are proud to offer competitive benefits that enable healthy and fulfilling careers at BCM</h4>
      <div class="row mt-3">
        <div class="col-md-4">
          <div class="card border-0" style="text-align: left;">
            <div class="card-img-top-div">
              <img src="assets/images/career/image1.jpeg" class="card-img-top rounded-circle  border border-5" alt="...">
            </div>
            <div class="card-body">
              <div class="row1">
                <div class="col-md-2"></div>
                <div class="col-md-8" class="liData">
                  <li>Competitive salary</li>
                  <li>Option to be paid in crypto</li>
                  <li>Health insurance</li>
                  <li>Flexible working hours</li>
                </div>
                <div class="col-md-2"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-0" style="text-align: left;">
            <div class="card-img-top-div">
              <img src="assets/images/career/image2.jpeg" class="card-img-top rounded-circle  border border-5" alt="...">
            </div>
            <div class="card-body">
              <div class="row1">
                <!-- <div class="col-md-1"></div> -->
                <div class="col-md-11" class="liData">
                  <li>Remote work for many roles</li>
                  <li>Company sponsored holidays</li>
                  <li>Team building activities</li>
                  <li>And other various perks and benefits</li>
                </div>
                <div class="col-md-1"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-0" style="text-align: left;">
            <div class="card-img-top-div">
              <img src="assets/images/career/image3.jpeg" class="card-img-top rounded-circle  border border-5" alt="...">
            </div>
            <div class="card-body">
              <div class="row1">
                <!-- <div class="col-md-1"></div> -->
                <div class="col-md-11" class="liData">
                  <li>Learning and development programs</li>
                  <li>Free language classes</li>
                  <li>Relocation support</li>
                  <li>International transfers mid-career</li>
                </div>
                <div class="col-md-1"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="row">
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1">
          <div class="row">
            <div class="col-8 col-sm-8 col-md-3 col-lg-3 col-xl-3">
                <div class="bg-line"></div>
            </div>
            <div class="col-2 col-sm-2 col-md-5 col-lg-5 col-xl-5"></div>
          </div>
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1">
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-lg-1"></div>
      </div>
      <h2 class="mt-3">How We Hire?</h2>
      <h4 class="text-secondary p-3">On average 2~4 week interview process with 4 interviews.</h4>
       <div class="row justify-content-center mt-5">
            <div class="col-xl-10 col-12">
                <div class="timeline timeline-line-solid">
                    <div class="timeline-item">
                        <div class="timeline-point timeline-point"></div>
                        <div class="timeline-event">
                            <div class="widget has-shadow">
                                <div class="widget-header d-flex align-items-center">
                                    <div class="d-flex flex-column mr-auto">
                                        <div class="title">
                                            <span class="username">STEP 1</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div>Application Review</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-point timeline-point"></div>
                        <div class="timeline-event">
                            <div class="widget has-shadow">
                                <div class="widget-header d-flex align-items-center">
                                    <div class="d-flex flex-column mr-auto">
                                        <div class="title">
                                            <span class="username">STEP 2</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div>Interview</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-point timeline-point"></div>
                        <div class="timeline-event">
                            <div class="widget has-shadow">
                                <div class="widget-header d-flex align-items-center">
                                    <div class="d-flex flex-column mr-auto">
                                        <div class="title">
                                            <span class="username">STEP 3</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div>Offer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-point timeline-point"></div>
                        <div class="timeline-event">
                            <div class="widget has-shadow">
                                <div class="widget-header d-flex align-items-center">
                                    <div class="d-flex flex-column mr-auto">
                                        <div class="title">
                                            <span class="username">STEP 4</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div>Onboarding</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="text-secondary">
    </div>
</section>
