*{

}
.softServiceTitle{
}
.logoImage{
    width: 37px !important;
	height: 37px !important;
}

.rowData{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
}

@media only screen and (max-width: 600px) {
    /* .logoImage{
        width: 100% !important;
        height: 100% !important;
    } */
    .service-title{
      display: flex;
      align-items: flex-end;
    }
}

.liData{
    margin-bottom: 5rem;
}

.liData li {
    text-indent: -23px;
    margin-left: 35px;
}
